backup/Bot Server.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T01:24:51.562Z",
  "id": "JMCxh4UcEyxR5AcJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot Server",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.173:2208/execute",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "={{ $json.command }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        -272
      ],
      "id": "cf026ced-29ff-4f95-8c38-6b72962dc620",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nACSs0RNIGUHkzah",
          "name": "Token CMD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        -272
      ],
      "id": "23dcc922-e678-4fc3-a56a-f0fbe8d7d8e6",
      "name": "Telegram Trigger",
      "webhookId": "0cd6a441-c59f-4dc6-b61d-c74f8f643afb",
      "credentials": {
        "telegramApi": {
          "id": "LnYyNU54LkNB79CH",
          "name": "Server BOT"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/reboot_server",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e91e6621-05ba-43a0-95b9-29e5abd05f59"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "818f43a1-422e-4c85-8426-774a86a5a118",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/cls",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d98646-5cc9-4b12-be76-b39dd8cf722e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/beep",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "320a6227-6fde-4c1a-b5ee-2f956d5e7f06",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/ip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17f45bc2-2459-4b62-8be3-2028b72c5c2a",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        464,
        -272
      ],
      "id": "b95fe1a1-336d-4617-a6e3-3192251000f2",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1456,
        -272
      ],
      "id": "f09554aa-c093-4998-a4f0-5efb69404d28",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f694e8ab-0a6c-4b2c-94b1-bd6278be8dd9",
              "name": "command",
              "value": "={{ $json.command }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1648,
        -272
      ],
      "id": "3e79bd50-eb74-47f4-86d2-aa0b3890877f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "Restart-Computer -Force",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        -400
      ],
      "id": "169ccc6f-0aeb-419f-a12c-1666a757f112",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "cls",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        816,
        -272
      ],
      "id": "06e75e19-9efc-4de1-a7d0-6b5fc5f77c50",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "=[Console]::Beep(440, 300)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -112
      ],
      "id": "f970e260-c8c0-4a07-9778-14b31289cf03",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        192
      ],
      "id": "f595c5a8-c696-4bf3-bd5b-9b217e58dd92",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Comando do usuário: ({{ $('Edit Fields').item.json.command }})\n\nResposta do Terminal:{{ $json.message }}({{ $json.stdout }}{{ $json.error.message }})",
        "options": {
          "systemMessage": "=Voce é um agente de IA que tem como objetivo analisar o return do request via HTTP e informar de forma simples ao usúario o resultado do comando dele.\n\nVocê é suscinto, breve e direto e não oferece ajuda posterior em hipótese alguma."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2112,
        -272
      ],
      "id": "524377b2-435b-41aa-bbba-97ab7afaa942",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2128,
        -48
      ],
      "id": "8b97e189-c286-4051-b743-e80e1b13af13",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sB9sHBeXxAJCJTEo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2528,
        -272
      ],
      "id": "3a8f4ef2-9954-4fb6-8ec2-dd6af385ae20",
      "name": "Send a text message",
      "webhookId": "2de4971a-eb6d-4db4-96c5-f8555ce82e16",
      "credentials": {
        "telegramApi": {
          "id": "LnYyNU54LkNB79CH",
          "name": "Server BOT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "=(iwr ipinfo.io/ip -UseBasicParsing).content",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        32
      ],
      "id": "70a9c1d3-b085-4e40-8eda-4a97e9964feb",
      "name": "Edit Fields5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "hayrMe7QpDgBDUbE"
  },
  "shared": [
    {
      "updatedAt": "2025-08-02T01:24:51.568Z",
      "createdAt": "2025-08-02T01:24:51.568Z",
      "role": "workflow:owner",
      "workflowId": "JMCxh4UcEyxR5AcJ",
      "projectId": "O2voI4XYg26wWumH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-02-04T15:56:00.000Z",
  "versionId": "2e319a52-67c5-437b-8462-33d6eb881773"
}