backup/Bot Server.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T01:24:51.562Z",
  "id": "JMCxh4UcEyxR5AcJ",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot Server",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.159:2208/execute",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "={{ $json.command }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        128
      ],
      "id": "be48f510-014b-4f16-a15b-a52be2b466bb",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "nACSs0RNIGUHkzah",
          "name": "Token CMD"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        128
      ],
      "id": "997f00ce-b989-4f8e-a853-1355a409eb6f",
      "name": "Telegram Trigger",
      "webhookId": "0cd6a441-c59f-4dc6-b61d-c74f8f643afb",
      "credentials": {
        "telegramApi": {
          "id": "LnYyNU54LkNB79CH",
          "name": "Server BOT"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/reboot_server",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e91e6621-05ba-43a0-95b9-29e5abd05f59"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "818f43a1-422e-4c85-8426-774a86a5a118",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/cls",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d98646-5cc9-4b12-be76-b39dd8cf722e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/beep",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "320a6227-6fde-4c1a-b5ee-2f956d5e7f06",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/ip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17f45bc2-2459-4b62-8be3-2028b72c5c2a",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        128
      ],
      "id": "dee1a3c8-853c-4750-a7d7-b875e507fb4b",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        128
      ],
      "id": "f705b734-cdb7-48e4-af86-c2c0b334d6fc",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f694e8ab-0a6c-4b2c-94b1-bd6278be8dd9",
              "name": "command",
              "value": "={{ $json.command }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        128
      ],
      "id": "34f0099d-de54-456d-b855-6fece4841a71",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "Restart-Computer -Force",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "0fc25461-923e-44d6-a3c5-e00ec9c1130d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "cls",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        128,
        128
      ],
      "id": "9238ceea-de68-4c6c-93dc-552cf6675da3",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "=[Console]::Beep(440, 300)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        288
      ],
      "id": "66800b8c-e8dc-423b-8585-886480f6b281",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        592
      ],
      "id": "c3331cca-0c8d-45c4-8ca2-6193b055d097",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Comando do usuário: ({{ $('Edit Fields').item.json.command }})\n\nResposta do Terminal:{{ $json.message }}({{ $json.stdout }}{{ $json.error.message }})",
        "options": {
          "systemMessage": "=Voce é um agente de IA que tem como objetivo analisar o return do request via HTTP e informar de forma simples ao usúario o resultado do comando dele.\n\nVocê é suscinto, breve e direto e não oferece ajuda posterior em hipótese alguma."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1424,
        128
      ],
      "id": "56cb169d-bae3-47cd-81e5-834c71ca10af",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1440,
        352
      ],
      "id": "d8e23911-9557-46d9-8def-0e49218a269d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sB9sHBeXxAJCJTEo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1840,
        128
      ],
      "id": "9d5a945d-cacf-46ea-84eb-1138c64afb61",
      "name": "Send a text message",
      "webhookId": "2de4971a-eb6d-4db4-96c5-f8555ce82e16",
      "credentials": {
        "telegramApi": {
          "id": "LnYyNU54LkNB79CH",
          "name": "Server BOT"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "=(iwr ipinfo.io/ip -UseBasicParsing).content",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        432
      ],
      "id": "6a41c22d-650f-4463-81d3-8b85b642186f",
      "name": "Edit Fields5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-06T01:45:31.000Z",
  "versionId": "f115e83f-cb03-4ac0-8d61-516c750069a0"
}