backup/Gerar OS.json
{
  "active": true,
  "connections": {
    "Switch1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OS Central": {
      "main": [
        [
          {
            "node": "Nome",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telefone1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aparelho",
            "type": "main",
            "index": 0
          },
          {
            "node": "Modelo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Defeito",
            "type": "main",
            "index": 0
          },
          {
            "node": "Observações",
            "type": "main",
            "index": 0
          },
          {
            "node": "OS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fone Check": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar OS1": {
      "main": [
        [
          {
            "node": "Print2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telefone": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Mes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mes1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print2": {
      "main": [
        [
          {
            "node": "Z-API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telefone1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aparelho": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Defeito": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Observações": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data2": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OS": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Baixar OS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Sauda2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sauda2": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print3": {
      "main": [
        [
          {
            "node": "Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Print3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data1": {
      "main": [
        [
          {
            "node": "Mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mes": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Sauda3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sauda3": {
      "main": [
        [
          {
            "node": "Z-API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Cliente2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Z-API": {
      "main": [
        [
          {
            "node": "Z-API2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Fone Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Cliente": {
      "main": [
        [
          {
            "node": "Add OS Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add OS Cliente": {
      "main": [
        [
          {
            "node": "Salve Histórico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salve Histórico": {
      "main": [
        [
          {
            "node": "Add OS Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add OS Cliente1": {
      "main": [
        [
          {
            "node": "OS Central",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cliente1": {
      "main": [
        [
          {
            "node": "Get Cliente3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cliente3": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Print4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cliente2": {
      "main": [
        [
          {
            "node": "Get Cliente4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cliente4": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Cliente1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T01:26:38.571Z",
  "id": "Ux9gNIxJfGnNvNGV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Gerar OS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -5664,
        768
      ],
      "id": "b0dd789e-1a53-41ed-a87e-a25f68dfc8ff",
      "name": "Webhook",
      "webhookId": "2118250c-bd78-4e1f-9923-fc67c94aacb4"
    },
    {
      "parameters": {},
      "id": "acc1e747-76cd-4437-abba-d16b6b8dd12a",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -2336,
        608
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Select rows from a table').item.json.usuarios }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6d29bce9-997b-40cc-9e10-7658e6b6957c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a9fedeb7-8e71-4610-a47b-269a4daabd6f",
                    "leftValue": "={{ $('Select rows from a table').item.json.usuarios }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2608,
        608
      ],
      "id": "68f85219-66bd-4e9c-8090-202c652beddb",
      "name": "Switch1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38697d05-ffa0-4257-9902-bc877b389288",
              "name": "Telefone",
              "value": "={{ $('Fone Check').item.json.Fone }}{{ $json.numero }}",
              "type": "string"
            },
            {
              "id": "190873d7-4a7e-4833-bf05-ec0c648112c5",
              "name": "Nome",
              "value": "={{ $('Select rows from a table').item.json.usuarios }}{{ $json.usuarios }}",
              "type": "string"
            },
            {
              "id": "0e9030da-4496-4274-977b-1d3cc7015dd5",
              "name": "Aparelho",
              "value": "={{ $('dados').item.json.body.aparelho }}",
              "type": "string"
            },
            {
              "id": "37a5c497-6993-4445-b544-aedb5f9a1f37",
              "name": "Marca",
              "value": "={{ $('dados').item.json.body.marca }}",
              "type": "string"
            },
            {
              "id": "9fadfbf2-d331-4f93-8039-d5214618b6d5",
              "name": "Modelo",
              "value": "={{ $('dados').item.json.body.modelo }}",
              "type": "string"
            },
            {
              "id": "fe5d0eeb-b333-425d-9c14-717ef7bd3099",
              "name": "Defeito",
              "value": "={{ $('dados').item.json.body.defeito }}",
              "type": "string"
            },
            {
              "id": "50b9a5e2-e31e-4a55-8925-bc7b3e994966",
              "name": "Observações",
              "value": "={{ $('dados').item.json.body.observacoes }}",
              "type": "string"
            },
            {
              "id": "c4368c9c-fd21-44db-a090-807b69bd49ff",
              "name": "mes_extenso",
              "value": "={{ $('Mes1').item.json.mes_extenso }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2032,
        816
      ],
      "id": "5a0f3e63-9806-49b3-aab6-3f5944038f99",
      "name": "Edit Fields",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TWDQ4ZDbjPiQI8eyQ6hJz_FPPiCyUMUKs9MrTX0lHKI",
          "mode": "list",
          "cachedResultName": "OS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWDQ4ZDbjPiQI8eyQ6hJz_FPPiCyUMUKs9MrTX0lHKI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWDQ4ZDbjPiQI8eyQ6hJz_FPPiCyUMUKs9MrTX0lHKI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "OS": "={{ $('Telefone').item.json.OS }}",
            "Telefone": "={{ $('Webhook').item.json.body.telefone }}",
            "Nome": "={{ $('Add OS Cliente').item.json.usuarios }}",
            "Aparelho": "={{ $('Edit Fields').item.json.Aparelho }}",
            "Marca": "={{ $('Edit Fields').item.json.Marca }}",
            "Modelo": "={{ $('Edit Fields').item.json.Modelo }}",
            "Defeito": "={{ $('Edit Fields').item.json.Defeito }}",
            "Observações": "={{ $('Edit Fields').item.json['Observações'] }}",
            "Data Entrada": "={{ $('Sauda2').item.json.dataFormatada }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "OS",
              "displayName": "OS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Aparelho",
              "displayName": "Aparelho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Marca",
              "displayName": "Marca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modelo",
              "displayName": "Modelo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Defeito",
              "displayName": "Defeito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Serviços",
              "displayName": "Serviços",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data Entrada",
              "displayName": "Data Entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Data Saída",
              "displayName": "Data Saída",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1104,
        816
      ],
      "id": "c0611b42-c104-4821-8c4f-4cfeffdf39ca",
      "name": "OS Central",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E29DB01364090EFDC8006E9A5181015/token/771E4BE1F789AB112E4831D6/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Add OS Cliente 2').item.json.numero }}"
            },
            {
              "name": "message",
              "value": "=Olá {{ $(\"Edit Fields\").item.json.Nome.split(' ')[0] }}! \nSua OS é a número {{ $('OS Central').item.json.OS }}.\n\nReferente ao seu *{{ $('OS Central').item.json.Aparelho }} {{ $('OS Central').item.json.Marca }}*\n\n_Modelo {{ $('OS Central').item.json.Modelo }}._\n\nDefeito relatado: *{{ $('OS Central').item.json.Defeito }}*\n\nObservações do técnico: {{ $('OS Central').item.json['Observações'] }}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "14837a8c-3093-4ce5-9e37-01776f0dfb91",
      "name": "(Z-API) Enviar Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1776,
        832
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gx5XA9roLVkNIKBs",
          "name": "Z-API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/export?format=pdf&size=A4&top_margin=0.10&bottom_margin=0.10&left_margin=0.10&right_margin=0.10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1232,
        752
      ],
      "id": "116946aa-3273-4d0b-94bb-f3e25c05619f",
      "name": "Baixar OS1",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22483a97-3ecb-4abd-8d2a-bb0b5f76a50a",
              "name": "Fone",
              "value": "={{ $json.numero }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4256,
        592
      ],
      "id": "7f726ae7-05e4-4b5a-a69b-468f7b5b1e73",
      "name": "Fone Check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.159:5566/print",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ChaveSecreta"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        656
      ],
      "id": "3ea4e7c4-9fa7-47dc-9a96-8ee64876a050",
      "name": "Print2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae877252-63b2-4d3e-af11-8005b06c1edd",
              "name": "telefone",
              "value": "={{ $json.body.telefone.replace(/\\D/g, '').replace(/^55/, '').trim() }}",
              "type": "string"
            },
            {
              "id": "9f528e6b-2cd6-424f-b24e-7136bd33e448",
              "name": "OS",
              "value": "={{ $json.body.os_number }}",
              "type": "number"
            },
            {
              "id": "9ee4adc2-72b9-4b3c-a836-d31d6913e4a0",
              "name": "=",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4896,
        592
      ],
      "id": "755d9858-89f1-4a91-8199-19f1608712e0",
      "name": "Telefone"
    },
    {
      "parameters": {
        "outputFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -4064,
        592
      ],
      "id": "5e62bfda-5574-46e9-b298-b0b6f60004df",
      "name": "Data"
    },
    {
      "parameters": {
        "jsCode": "const meses = [\n  'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',\n  'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'\n];\n\nreturn items.map(item => {\n  const data = new Date(item.json.data);\n\n  // Ajuste de fuso se necessário:\n  // data.setHours(data.getHours() - 4);\n\n  const mesExtenso = meses[data.getMonth()];\n  const mesCapitalizado = mesExtenso.charAt(0).toUpperCase() + mesExtenso.slice(1);\n\n  item.json.mes_extenso = mesCapitalizado;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3904,
        592
      ],
      "id": "c73dd61d-283c-4fbf-942c-bb84a1496d81",
      "name": "Mes1"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('Telefone').item.json.OS }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1424,
        848
      ],
      "id": "0a7ddb77-f2bd-498f-bc92-1ce4c3e5edcd",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Mes1').item.json.mes_extenso }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd",
          "mode": "list",
          "cachedResultName": "Entrada",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2976,
        720
      ],
      "id": "840f0c9a-39d6-4b44-82d2-00f697966ca8",
      "name": "Create folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75f9532a-cbe0-4f5f-9333-6f0e3037b075",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Mes1').item.json.mes_extenso }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3104,
        608
      ],
      "id": "c3711749-8c0d-49ec-8765-2699590f784e",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Mes1').item.json.mes_extenso }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd",
            "mode": "list",
            "cachedResultName": "Entrada",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -3296,
        592
      ],
      "id": "6e97d88b-b974-4295-a02a-acd96221089f",
      "name": "Search files and folders1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Mes1').item.json.mes_extenso }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd",
            "mode": "list",
            "cachedResultName": "Entrada",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2832,
        608
      ],
      "id": "9e4f76b7-22cd-4c32-9845-4696ba902b33",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        208
      ],
      "id": "c3392fe0-61d7-4e78-8a34-06c6e6b3225f",
      "name": "HTTP Request",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.Nome }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "C5",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        208
      ],
      "id": "d90d83ba-68f4-472b-a503-5aea8bd5c487",
      "name": "Nome"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        368
      ],
      "id": "b6788364-db80-4163-9d32-4d71781ac94c",
      "name": "HTTP Request1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        528
      ],
      "id": "aa61ea6f-5571-4627-b111-ccfd8316c3a0",
      "name": "HTTP Request2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        688
      ],
      "id": "686e61c0-9058-40f6-8fbf-7e64e9d77090",
      "name": "HTTP Request3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.Telefone }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "G5",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        368
      ],
      "id": "e1d829a2-096b-4823-afbe-db4985b74c02",
      "name": "Telefone1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.Aparelho }} - {{ $json.Marca }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "C6",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        528
      ],
      "id": "223ba4f2-0721-4c73-b868-c25fabea4fd9",
      "name": "Aparelho"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.Modelo }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "I7",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        688
      ],
      "id": "add92a66-58e0-4f67-a269-601d39734673",
      "name": "Modelo"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        880
      ],
      "id": "4d0f65b1-3e04-4271-ae74-9d438661e9b5",
      "name": "HTTP Request4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        1040
      ],
      "id": "880a2b29-4ccf-473f-9b90-bd7afbd53b4b",
      "name": "HTTP Request5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.Defeito }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "E8",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        880
      ],
      "id": "a1b6d28b-115b-4655-b3d0-f01818063b00",
      "name": "Defeito"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json['Observações'] }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "B9",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        1040
      ],
      "id": "69972c51-7bf4-403f-a970-29db264fdec8",
      "name": "Observações"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        1200
      ],
      "id": "d27de42c-275c-404a-9f1a-48ad0dcbe237",
      "name": "HTTP Request6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        176,
        1360
      ],
      "id": "d5c6cb41-d0b2-4a3f-aad1-90cbda8747f0",
      "name": "HTTP Request7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.dataFormatada }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "H13",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        1200
      ],
      "id": "63cc075d-1056-499d-a6bb-17d1d3aadb89",
      "name": "Data2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.OS }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "J2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -128,
        1360
      ],
      "id": "cf8517d2-8ad8-4bb7-bd11-ab7df9b3067a",
      "name": "OS"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        912,
        656
      ],
      "id": "5d6a3066-b72c-4625-a239-40b6657e502b",
      "name": "Merge1",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Obtém a data original em string e converte para objeto Date\nconst inputDateStr = $('Data').first().json.data;\nconst inputDate = new Date(inputDateStr);\n\n// Subtrai 1 hora manualmente (ajuste de -04:00 para -03:00)\ninputDate.setHours(inputDate.getHours() - 3);\n\n// Formata a data no padrão brasileiro\nconst dia = String(inputDate.getDate()).padStart(2, '0');\nconst mes = String(inputDate.getMonth() + 1).padStart(2, '0');\nconst ano = inputDate.getFullYear();\nconst hora = String(inputDate.getHours()).padStart(2, '0');\nconst minuto = String(inputDate.getMinutes()).padStart(2, '0');\n\nconst dataFormatada = `${dia}/${mes}/${ano} ${hora}:${minuto}`;\n\n// Retorna resultado\nreturn [\n  {\n    json: {\n      dataFormatada\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        1200
      ],
      "id": "848c365b-4867-40c1-8f20-08b1775d4261",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "// Obtém a data original em string e converte para objeto Date\nconst inputDateStr = $('Data').first().json.data;\nconst inputDate = new Date(inputDateStr);\n\n// Subtrai 1 hora manualmente (ajuste de -04:00 para -03:00)\ninputDate.setHours(inputDate.getHours() - 3);\n\n// Formata a data no padrão brasileiro\nconst dia = String(inputDate.getDate()).padStart(2, '0');\nconst mes = String(inputDate.getMonth() + 1).padStart(2, '0');\nconst ano = inputDate.getFullYear();\nconst hora = String(inputDate.getHours()).padStart(2, '0');\nconst minuto = String(inputDate.getMinutes()).padStart(2, '0');\n\nconst dataFormatada = `${dia}/${mes}/${ano} ${hora}:${minuto}`;\n\n// Retorna resultado\nreturn [\n  {\n    json: {\n      dataFormatada\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3728,
        592
      ],
      "id": "10c4021f-7679-471c-aa7d-d2de3374f6f8",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const dataString = item.json.dataFormatada; // Ex: \"15/07/2025 15:01\"\n\n  // Converte string BR para ISO (yyyy-mm-ddTHH:MM:00)\n  const partes = dataString.split(/[\\s/:]/); // [dia, mês, ano, hora, minuto]\n  const dataISO = `${partes[2]}-${partes[1]}-${partes[0]}T${partes[3]}:${partes[4]}:00`;\n\n  const data = new Date(dataISO);\n  const horaAtual = data.getHours();\n\n  let saudacao;\n\n  if (horaAtual >= 6 && horaAtual < 12) {\n    saudacao = \"Bom dia\";\n  } else if (horaAtual >= 12 && horaAtual < 18) {\n    saudacao = \"Boa tarde\";\n  } else {\n    saudacao = \"Boa noite\";\n  }\n\n  item.json.saudacao = saudacao;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3488,
        592
      ],
      "id": "eb593b42-9dc9-4009-ba5f-c2d071d337b7",
      "name": "Sauda2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51c41fbb-ec99-42f3-8f11-942dff4f5087",
              "name": "body.nome",
              "value": "={{ $('Webhook').item.json.body.nome.toLowerCase().replace(/(^|\\s)\\w/g, l => l.toUpperCase()) }}",
              "type": "string"
            },
            {
              "id": "917b6d7b-48c6-4908-8fcf-934d178456f3",
              "name": "body.sobrenome",
              "value": "={{ $('Webhook').item.json.body.sobrenome.toLowerCase().replace(/(^|\\s)\\w/g, l => l.toUpperCase()) }}",
              "type": "string"
            },
            {
              "id": "7676b0b5-f9f2-41a0-975a-e2cd997fa678",
              "name": "body.aparelho",
              "value": "={{ $('Webhook').item.json.body.aparelho.toLowerCase().replace(/(^|\\s)\\w/g, l => l.toUpperCase()) }}",
              "type": "string"
            },
            {
              "id": "e7fe4169-3602-4866-bb93-67de0cd4bd58",
              "name": "body.marca",
              "value": "={{ $('Webhook').item.json.body.marca.toUpperCase()}}",
              "type": "string"
            },
            {
              "id": "0481a439-fb2b-42a9-8029-ccafaf7d4280",
              "name": "body.modelo",
              "value": "={{ $('Webhook').item.json.body.modelo.toUpperCase()}}",
              "type": "string"
            },
            {
              "id": "c2245e6a-a828-4803-bc07-29a808a63ec1",
              "name": "body.defeito",
              "value": "={{ $('Webhook').item.json.body.defeito.toLowerCase().replace(/(^|\\s)\\w/g, l => l.toUpperCase()) }}",
              "type": "string"
            },
            {
              "id": "35d2e7ec-7fc4-4b44-8e01-55833b04f343",
              "name": "body.observacoes",
              "value": "={{ $('Webhook').item.json.body.observacoes.toLowerCase().replace(/(^|\\s)\\w/g, l => l.toUpperCase()) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4672,
        592
      ],
      "id": "d07b9f31-f0d5-4e3a-bfb4-a733e887d756",
      "name": "dados"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E29DB01364090EFDC8006E9A5181015/token/771E4BE1F789AB112E4831D6/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "=55{{ $('Telefone').item.json.telefone }}"
            },
            {
              "name": "message",
              "value": "={{ $('Sauda2').item.json.saudacao }} {{ $(\"Edit Fields\").item.json.Nome.split(' ')[0] }}! \nSua OS é a número {{ $('Telefone').item.json.OS }}\n\nReferente ao seu *{{ $('OS Central').item.json.Aparelho }} {{ $('OS Central').item.json.Marca }}*\n\n_Modelo {{ $('OS Central').item.json.Modelo }}._\n\nDefeito relatado: *{{ $('OS Central').item.json.Defeito }}*\n\nObservações do técnico: {{ $('OS Central').item.json['Observações'] }}\n"
            },
            {
              "name": "delayMessage",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1648,
        656
      ],
      "id": "209424aa-41a2-4940-9aa8-0fb1bad7c029",
      "name": "Z-API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gx5XA9roLVkNIKBs",
          "name": "Z-API"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Get Cliente1').item.json.os_number }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4624,
        912
      ],
      "id": "375b44dc-cc74-4455-8492-d2f689a8a5cb",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://drive.google.com/uc?export=download&id={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4480,
        912
      ],
      "id": "856b6dae-0216-48b5-afd9-cd8e33f8a9ce",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.159:5566/print",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ChaveSecreta"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4336,
        912
      ],
      "id": "cebaa7f6-d9a4-47e6-9bb2-1fa17e217c76",
      "name": "Print3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E29DB01364090EFDC8006E9A5181015/token/771E4BE1F789AB112E4831D6/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Get Cliente3').item.json.numero }}"
            },
            {
              "name": "message",
              "value": "={{ $('Sauda3').item.json.saudacao }} {{ $('Get Cliente1').item.json.nome }}! \nSua OS é a número {{ $('Get Cliente1').item.json.os_number }}\n\nReferente ao seu *{{ $('Get Cliente1').item.json.aparelho }} {{ $('Get Cliente1').item.json.marca }}*\n\n_Modelo {{ $('Get a row').item.json.modelo }}._\n\nDefeito relatado: *{{ $('Get a row').item.json.defeito }}*\n\nObservações do técnico: {{ $('Get a row').item.json.observacoes }}\n"
            },
            {
              "name": "delayMessage",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3616,
        912
      ],
      "id": "549dab28-d343-48a0-8732-19da1737165f",
      "name": "Z-API1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gx5XA9roLVkNIKBs",
          "name": "Z-API"
        }
      }
    },
    {
      "parameters": {
        "outputFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -4192,
        912
      ],
      "id": "b781fbe0-5cd5-480d-aef0-0112b48350da",
      "name": "Data1"
    },
    {
      "parameters": {
        "jsCode": "const meses = [\n  'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',\n  'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'\n];\n\nreturn items.map(item => {\n  const data = new Date(item.json.data);\n\n  // Ajuste de fuso se necessário:\n  // data.setHours(data.getHours() - 4);\n\n  const mesExtenso = meses[data.getMonth()];\n  const mesCapitalizado = mesExtenso.charAt(0).toUpperCase() + mesExtenso.slice(1);\n\n  item.json.mes_extenso = mesCapitalizado;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4048,
        912
      ],
      "id": "d88110c3-a068-44f0-8706-370790590885",
      "name": "Mes"
    },
    {
      "parameters": {
        "jsCode": "// Obtém a data original em string e converte para objeto Date\nconst inputDateStr = $('Data1').first().json.data;\nconst inputDate = new Date(inputDateStr);\n\n// Subtrai 1 hora manualmente (ajuste de -04:00 para -03:00)\ninputDate.setHours(inputDate.getHours() - 3);\n\n// Formata a data no padrão brasileiro\nconst dia = String(inputDate.getDate()).padStart(2, '0');\nconst mes = String(inputDate.getMonth() + 1).padStart(2, '0');\nconst ano = inputDate.getFullYear();\nconst hora = String(inputDate.getHours()).padStart(2, '0');\nconst minuto = String(inputDate.getMinutes()).padStart(2, '0');\n\nconst dataFormatada = `${dia}/${mes}/${ano} ${hora}:${minuto}`;\n\n// Retorna resultado\nreturn [\n  {\n    json: {\n      dataFormatada\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3904,
        912
      ],
      "id": "21839f22-f3bc-4d7a-af44-907f9d299f69",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const dataString = item.json.dataFormatada; // Ex: \"15/07/2025 15:01\"\n\n  // Converte string BR para ISO (yyyy-mm-ddTHH:MM:00)\n  const partes = dataString.split(/[\\s/:]/); // [dia, mês, ano, hora, minuto]\n  const dataISO = `${partes[2]}-${partes[1]}-${partes[0]}T${partes[3]}:${partes[4]}:00`;\n\n  const data = new Date(dataISO);\n  const horaAtual = data.getHours();\n\n  let saudacao;\n\n  if (horaAtual >= 6 && horaAtual < 12) {\n    saudacao = \"Bom dia\";\n  } else if (horaAtual >= 12 && horaAtual < 18) {\n    saudacao = \"Boa tarde\";\n  } else {\n    saudacao = \"Boa noite\";\n  }\n\n  item.json.saudacao = saudacao;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3760,
        912
      ],
      "id": "7313494d-c683-4276-90f2-c0d2f4e238fb",
      "name": "Sauda3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.reprinting_only }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "4957eb22-a909-471c-9b52-edb9e59b8949"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6dffda69-ea3e-4d8e-af04-301bb407d709",
                    "leftValue": "={{ $json.body.reprinting_only }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -5424,
        768
      ],
      "id": "e489f501-8ebe-4b32-aafa-a0e4f7127384",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.z-api.io/instances/3E29DB01364090EFDC8006E9A5181015/token/771E4BE1F789AB112E4831D6/contacts/add",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "=[\n{\n    \"firstName\": \"{{ $('Edit Fields').item.json.Nome}}\",\n    \"lastName\": \"{{ $('Telefone').item.json.OS }}\",\n    \"phone\": \"55{{ $('Telefone').item.json.telefone }}\"\n  }\n]",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        656
      ],
      "id": "5c2179f4-6dbb-438d-bd67-005e78d67e94",
      "name": "Z-API2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gx5XA9roLVkNIKBs",
          "name": "Z-API"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "usuarios",
          "mode": "list",
          "cachedResultName": "usuarios"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "=55{{ $('Telefone').item.json.telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4464,
        592
      ],
      "id": "27584a70-9a1c-4c04-a5fc-18e2e35d2dca",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "ZEobhMYEeazW7SRl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "usuarios",
          "mode": "list",
          "cachedResultName": "usuarios"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "usuarios": "={{ $('dados').item.json.body.nome }} {{ $('dados').item.json.body.sobrenome }}",
            "numero": "=55{{ $('Telefone').item.json.telefone }}",
            "created_at": "={{ $('Mes1').item.json.data }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "usuarios",
              "displayName": "usuarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "os",
              "displayName": "os",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2464,
        736
      ],
      "id": "0fbc513e-2fe1-4151-9763-bb251f51a9ed",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "ZEobhMYEeazW7SRl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "usuarios",
          "mode": "list",
          "cachedResultName": "usuarios"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "numero",
              "value": "={{ $json.Telefone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1824,
        816
      ],
      "id": "a0fd3a01-ad27-4df8-8afe-d22d3515e258",
      "name": "Get Cliente",
      "credentials": {
        "postgres": {
          "id": "ZEobhMYEeazW7SRl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "usuarios",
          "mode": "list",
          "cachedResultName": "usuarios"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "os": "={{ $json.os }},{{ $('Telefone').item.json.OS }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "usuarios",
              "displayName": "usuarios",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "numero",
              "displayName": "numero",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "os",
              "displayName": "os",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1648,
        816
      ],
      "id": "389ef493-578e-4d64-9e56-aeb28c589eb4",
      "name": "Add OS Cliente",
      "credentials": {
        "postgres": {
          "id": "ZEobhMYEeazW7SRl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ordens_servico",
          "mode": "list",
          "cachedResultName": "ordens_servico"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "os_number": "={{ $('Telefone').item.json.OS }}",
            "entrada": "={{ $('Sauda2').item.json.dataFormatada.split(' ')[0] }}",
            "telefone": "={{ $('Webhook').item.json.body.telefone }}",
            "nome": "={{ $('dados').item.json.body.nome }}",
            "sobrenome": "={{ $('dados').item.json.body.sobrenome }}",
            "aparelho": "={{ $('dados').item.json.body.aparelho }}",
            "marca": "={{ $('dados').item.json.body.marca }}",
            "modelo": "={{ $('dados').item.json.body.modelo }}",
            "defeito": "={{ $('dados').item.json.body.defeito }}",
            "observacoes": "={{ $('dados').item.json.body.observacoes }}",
            "created_at": "={{ $json.created_at }}",
            "status": "Aguardando Orçamento"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "os_number",
              "displayName": "os_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefone",
              "displayName": "telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sobrenome",
              "displayName": "sobrenome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "aparelho",
              "displayName": "aparelho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "marca",
              "displayName": "marca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "modelo",
              "displayName": "modelo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "defeito",
              "displayName": "defeito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "observacoes",
              "displayName": "observacoes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "entrada",
              "displayName": "entrada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "saida",
              "displayName": "saida",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1488,
        816
      ],
      "id": "5f19ecce-0115-4b16-bed9-4b87a6699868",
      "name": "Salve Histórico",
      "credentials": {
        "postgres": {
          "id": "ZEobhMYEeazW7SRl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "count_os",
          "mode": "list",
          "cachedResultName": "count_os"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": 1,
            "count": "={{ $('Telefone').item.json.OS + 1 }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "count",
              "displayName": "count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1312,
        816
      ],
      "id": "4696f092-8946-40b2-8a2b-d4dcff7fba6c",
      "name": "Add OS Cliente1",
      "credentials": {
        "postgres": {
          "id": "ZEobhMYEeazW7SRl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ordens_servico",
          "mode": "list",
          "cachedResultName": "ordens_servico"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "os_number",
              "value": "={{ $json.body.os_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4896,
        912
      ],
      "id": "d35d95a2-9cd3-443c-8a37-82f5de533993",
      "name": "Get Cliente1",
      "credentials": {
        "postgres": {
          "id": "ZEobhMYEeazW7SRl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Usuarios",
          "mode": "list",
          "cachedResultName": "Usuarios"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "usuarios",
              "value": "={{ $json.nome }} {{ $json.sobrenome }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4768,
        912
      ],
      "id": "034da4da-8fc6-47ce-a6a6-48cb90f3e6b7",
      "name": "Get Cliente3",
      "credentials": {
        "postgres": {
          "id": "ZEobhMYEeazW7SRl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Get Cliente2').item.json.os_number }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4624,
        1136
      ],
      "id": "f9fec2f4-3852-4070-bb09-77c0b625f402",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://drive.google.com/uc?export=download&id={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4480,
        1136
      ],
      "id": "4191325c-4524-4be3-81ee-184f26358613",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.159:5566/print",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ChaveSecreta"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4336,
        1136
      ],
      "id": "7ccdaf66-ecaf-49ef-bea3-f1bc42b489a8",
      "name": "Print4"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "ordens_servico",
          "mode": "list",
          "cachedResultName": "ordens_servico"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "os_number",
              "value": "={{ $json.body.os_number }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4896,
        1136
      ],
      "id": "fffee177-a7ee-447b-823d-272f0c050ae1",
      "name": "Get Cliente2",
      "credentials": {
        "postgres": {
          "id": "ZEobhMYEeazW7SRl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "Usuarios",
          "mode": "list",
          "cachedResultName": "Usuarios"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "usuarios",
              "value": "={{ $json.nome }} {{ $json.sobrenome }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -4768,
        1136
      ],
      "id": "c9d3a300-039e-498a-ba19-15c29c5760cd",
      "name": "Get Cliente4",
      "credentials": {
        "postgres": {
          "id": "ZEobhMYEeazW7SRl",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "165ecfb5-764b-441d-9ae3-8a00a111d812",
              "leftValue": "={{ $('Webhook').item.json.body.reprinting }}",
              "rightValue": "false",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5168,
        752
      ],
      "id": "70eb2047-b034-40a7-815f-17c0eb936759",
      "name": "If2"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "auto.kadovesh.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/140.0.0.0 Safari/537.36",
            "content-length": "249",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2804:14d:6885:42f0:c444:8b2d:1f93:df3d",
            "cf-ipcountry": "BR",
            "cf-ray": "97bf3984597d917b-EWR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "42307c0d-188b-44c7-a833-eac619e96f7e",
            "connection": "keep-alive",
            "content-type": "application/json",
            "origin": "http://192.168.0.159",
            "priority": "u=1, i",
            "referer": "http://192.168.0.159/",
            "sec-ch-ua": "\"Chromium\";v=\"140\", \"Not=A?Brand\";v=\"24\", \"Google Chrome\";v=\"140\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2804:14d:6885:42f0:c444:8b2d:1f93:df3d",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "reprinting": false,
            "os_number": "25629",
            "telefone": "(12) 98102-0201",
            "nome": "fernando",
            "sobrenome": "moura",
            "aparelho": "PC",
            "marca": "BEMATECH",
            "modelo": "MINI",
            "defeito": "FORMATAÇÃO COMPLETA SEM BACKUP",
            "observacoes": "FORMATAR WINDOWS 10 - CLIENTE"
          },
          "webhookUrl": "https://auto.kadovesh.com/webhook/form",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "hayrMe7QpDgBDUbE"
  },
  "shared": [
    {
      "createdAt": "2025-08-02T01:26:38.575Z",
      "updatedAt": "2025-08-02T01:26:38.575Z",
      "role": "workflow:owner",
      "workflowId": "Ux9gNIxJfGnNvNGV",
      "projectId": "O2voI4XYg26wWumH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-08T14:50:14.000Z",
  "versionId": "e2f0e8ae-16ac-40d4-826c-a8f49e17a36f"
}