backup/Gerar OS.json
{
  "active": true,
  "connections": {
    "Encontrar Cliente": {
      "main": [
        [
          {
            "node": "Fone Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar Cliente": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Criar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OS Central": {
      "main": [
        [
          {
            "node": "Nome",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telefone1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Aparelho",
            "type": "main",
            "index": 0
          },
          {
            "node": "Modelo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Defeito",
            "type": "main",
            "index": 0
          },
          {
            "node": "Observações",
            "type": "main",
            "index": 0
          },
          {
            "node": "OS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add OS Cliente": {
      "main": [
        [
          {
            "node": "Salve historico",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cliente": {
      "main": [
        [
          {
            "node": "Add OS Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Data3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar OS": {
      "main": [
        [
          {
            "node": "Print",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fone Check": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Baixar OS1": {
      "main": [
        [
          {
            "node": "Print2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telefone": {
      "main": [
        [
          {
            "node": "dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Mes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mes1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print2": {
      "main": [
        [
          {
            "node": "Z-API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nome": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telefone1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aparelho": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Modelo": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Defeito": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Observações": {
      "main": [
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data2": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OS": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Baixar OS1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Data2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data3": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Sauda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Sauda2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sauda2": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "dados": {
      "main": [
        [
          {
            "node": "Encontrar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Salve historico": {
      "main": [
        [
          {
            "node": "OS Central",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Print3": {
      "main": [
        [
          {
            "node": "Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Print3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Get a row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row1": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data1": {
      "main": [
        [
          {
            "node": "Mes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mes": {
      "main": [
        [
          {
            "node": "Code4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        [
          {
            "node": "Sauda3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sauda3": {
      "main": [
        [
          {
            "node": "Z-API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Telefone",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a row2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        [
          {
            "node": "Print4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row2": {
      "main": [
        [
          {
            "node": "Get a row3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row3": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T01:26:38.571Z",
  "id": "Ux9gNIxJfGnNvNGV",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Gerar OS",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "form",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1344,
        1200
      ],
      "id": "76be5743-68b9-4907-8fa1-5fcbc1aeab4a",
      "name": "Webhook",
      "webhookId": "2118250c-bd78-4e1f-9923-fc67c94aacb4"
    },
    {
      "parameters": {},
      "id": "9b2875f2-2083-4803-9ef9-a7680907ab63",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2464,
        1200
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "keyValue": "=55{{ $('Telefone').item.json.telefone }}"
            }
          ]
        }
      },
      "id": "49bfb88b-40b3-47d7-8578-7ae3ecb97c02",
      "name": "Encontrar Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        368,
        1184
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "r7qiHeLbj3sFTwB4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Usuarios",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "usuarios",
              "fieldValue": "={{ $('dados').item.json.body.nome }} {{ $('dados').item.json.body.sobrenome }}"
            },
            {
              "fieldId": "numero",
              "fieldValue": "=55{{ $('Telefone').item.json.telefone }}"
            }
          ]
        }
      },
      "id": "6e84ffbc-d1d0-45aa-a2bb-151909c84a68",
      "name": "Criar Cliente",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2336,
        1312
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "r7qiHeLbj3sFTwB4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Encontrar Cliente').item.json.numero }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "6d29bce9-997b-40cc-9e10-7658e6b6957c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a9fedeb7-8e71-4610-a47b-269a4daabd6f",
                    "leftValue": "={{ $('Encontrar Cliente').item.json.numero }}",
                    "rightValue": "null",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2192,
        1200
      ],
      "id": "3c35d8e4-1aec-401f-a4c5-b724601131fe",
      "name": "Switch1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38697d05-ffa0-4257-9902-bc877b389288",
              "name": "Telefone",
              "value": "={{ $('Fone Check').item.json.Fone }}{{ $json.numero }}",
              "type": "string"
            },
            {
              "id": "190873d7-4a7e-4833-bf05-ec0c648112c5",
              "name": "Nome",
              "value": "={{ $('Encontrar Cliente').item.json.usuarios }}{{ $json.usuarios }}",
              "type": "string"
            },
            {
              "id": "0e9030da-4496-4274-977b-1d3cc7015dd5",
              "name": "Aparelho",
              "value": "={{ $('dados').item.json.body.aparelho }}",
              "type": "string"
            },
            {
              "id": "37a5c497-6993-4445-b544-aedb5f9a1f37",
              "name": "Marca",
              "value": "={{ $('dados').item.json.body.marca }}",
              "type": "string"
            },
            {
              "id": "9fadfbf2-d331-4f93-8039-d5214618b6d5",
              "name": "Modelo",
              "value": "={{ $('dados').item.json.body.modelo }}",
              "type": "string"
            },
            {
              "id": "fe5d0eeb-b333-425d-9c14-717ef7bd3099",
              "name": "Defeito",
              "value": "={{ $('dados').item.json.body.defeito }}",
              "type": "string"
            },
            {
              "id": "50b9a5e2-e31e-4a55-8925-bc7b3e994966",
              "name": "Observações",
              "value": "={{ $('dados').item.json.body.observacoes }}",
              "type": "string"
            },
            {
              "id": "c4368c9c-fd21-44db-a090-807b69bd49ff",
              "name": "mes_extenso",
              "value": "={{ $('Mes1').item.json.mes_extenso }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2864,
        1408
      ],
      "id": "89946f61-ec15-4cf3-9898-6a807aa4315b",
      "name": "Edit Fields",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1TWDQ4ZDbjPiQI8eyQ6hJz_FPPiCyUMUKs9MrTX0lHKI",
          "mode": "list",
          "cachedResultName": "OS",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWDQ4ZDbjPiQI8eyQ6hJz_FPPiCyUMUKs9MrTX0lHKI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1TWDQ4ZDbjPiQI8eyQ6hJz_FPPiCyUMUKs9MrTX0lHKI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "OS": "={{ $('Telefone').item.json.OS }}",
            "Telefone": "={{ $('Webhook').item.json.body.telefone }}",
            "Nome": "={{ $('Get Cliente').item.json.usuarios }}",
            "Aparelho": "={{ $('Edit Fields').item.json.Aparelho }}",
            "Marca": "={{ $('Edit Fields').item.json.Marca }}",
            "Modelo": "={{ $('Edit Fields').item.json.Modelo }}",
            "Defeito": "={{ $('Edit Fields').item.json.Defeito }}",
            "Observações": "={{ $('Edit Fields').item.json['Observações'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "OS",
              "displayName": "OS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Telefone",
              "displayName": "Telefone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nome",
              "displayName": "Nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Aparelho",
              "displayName": "Aparelho",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Marca",
              "displayName": "Marca",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Modelo",
              "displayName": "Modelo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Defeito",
              "displayName": "Defeito",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Serviços",
              "displayName": "Serviços",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Observações",
              "displayName": "Observações",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3696,
        1408
      ],
      "id": "d92c8a79-9508-43eb-9605-bbc33da87162",
      "name": "OS Central",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "condition": "eq",
              "keyValue": "={{ $json.numero }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "OS",
              "fieldValue": "={{ $json.OS }},{{ $('Telefone').item.json.OS }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3296,
        1408
      ],
      "id": "41e64beb-9d69-40be-9ea6-b8b1366c5771",
      "name": "Add OS Cliente",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "r7qiHeLbj3sFTwB4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "numero",
              "keyValue": "={{ $json.Telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3088,
        1408
      ],
      "id": "a6ab2da9-cf59-4715-a7ca-d5715b953ba0",
      "name": "Get Cliente",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "r7qiHeLbj3sFTwB4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E29DB01364090EFDC8006E9A5181015/token/771E4BE1F789AB112E4831D6/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Add OS Cliente').item.json.numero }}"
            },
            {
              "name": "message",
              "value": "=Olá {{ $(\"Edit Fields\").item.json.Nome.split(' ')[0] }}! \nSua OS é a número {{ $('OS Central').item.json.OS }}.\n\nReferente ao seu *{{ $('OS Central').item.json.Aparelho }} {{ $('OS Central').item.json.Marca }}*\n\n_Modelo {{ $('OS Central').item.json.Modelo }}._\n\nDefeito relatado: *{{ $('OS Central').item.json.Defeito }}*\n\nObservações do técnico: {{ $('OS Central').item.json['Observações'] }}\n"
            }
          ]
        },
        "options": {}
      },
      "id": "f6d34064-df7d-40c9-853a-12c3cc3b3d2a",
      "name": "(Z-API) Enviar Mensagem",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6784,
        1424
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gx5XA9roLVkNIKBs",
          "name": "Z-API"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        528,
        208
      ],
      "id": "7bde4927-b687-4569-9a27-a064aeb569f0",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=12_LN0CrIPJQLaIxvrHS6l6i-t7viuvX7",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1136,
        672
      ],
      "id": "02764708-8792-4c6c-bcff-17860f91a92f",
      "name": "Baixar OS"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.1.226:5678/print",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1376,
        672
      ],
      "id": "51e0db12-eb02-447c-a40a-b6119dee869d",
      "name": "Print",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gx5XA9roLVkNIKBs",
          "name": "Z-API"
        }
      }
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/export?format=pdf&size=A4&top_margin=0.10&bottom_margin=0.10&left_margin=0.10&right_margin=0.10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6032,
        1344
      ],
      "id": "0911f7b3-4675-46e2-9e05-84e840120884",
      "name": "Baixar OS1",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22483a97-3ecb-4abd-8d2a-bb0b5f76a50a",
              "name": "Fone",
              "value": "={{ $json.numero }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        1184
      ],
      "id": "4406eeb9-1ce1-45cb-86f8-cae97fcc344a",
      "name": "Fone Check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.159:5566/print",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ChaveSecreta"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6224,
        1248
      ],
      "id": "d470754b-8e31-43c7-8db3-70d65557ed9f",
      "name": "Print2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae877252-63b2-4d3e-af11-8005b06c1edd",
              "name": "telefone",
              "value": "={{ $json.body.telefone.replace(/\\D/g, '').replace(/^55/, '').trim() }}",
              "type": "string"
            },
            {
              "id": "9f528e6b-2cd6-424f-b24e-7136bd33e448",
              "name": "OS",
              "value": "={{ $json.body.os_number }}",
              "type": "number"
            },
            {
              "id": "9ee4adc2-72b9-4b3c-a836-d31d6913e4a0",
              "name": "=",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        1184
      ],
      "id": "962355d7-54db-4629-8208-e66437c0c76a",
      "name": "Telefone"
    },
    {
      "parameters": {
        "outputFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        736,
        1184
      ],
      "id": "d980bcde-3de1-4052-93de-437b2edbb8ba",
      "name": "Data"
    },
    {
      "parameters": {
        "jsCode": "const meses = [\n  'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',\n  'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'\n];\n\nreturn items.map(item => {\n  const data = new Date(item.json.data);\n\n  // Ajuste de fuso se necessário:\n  // data.setHours(data.getHours() - 4);\n\n  const mesExtenso = meses[data.getMonth()];\n  const mesCapitalizado = mesExtenso.charAt(0).toUpperCase() + mesExtenso.slice(1);\n\n  item.json.mes_extenso = mesCapitalizado;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        1184
      ],
      "id": "eaba9001-6aa0-4055-a82d-61d522d51172",
      "name": "Mes1"
    },
    {
      "parameters": {
        "inputDataFieldName": "=data",
        "name": "={{ $('Telefone').item.json.OS }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6224,
        1440
      ],
      "id": "b615a55e-9c22-46f0-afda-a397236b3b31",
      "name": "Upload file1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Mes1').item.json.mes_extenso }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd",
          "mode": "list",
          "cachedResultName": "Entrada",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1824,
        1312
      ],
      "id": "eeb6fc67-7a28-42b8-9ce5-8a4f8f3f5723",
      "name": "Create folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75f9532a-cbe0-4f5f-9333-6f0e3037b075",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Mes1').item.json.mes_extenso }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1696,
        1200
      ],
      "id": "34ea75d0-f00e-4912-bd9e-5e4c512c6816",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Mes1').item.json.mes_extenso }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd",
            "mode": "list",
            "cachedResultName": "Entrada",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1504,
        1184
      ],
      "id": "4c694535-ff68-4479-a87c-7f9188a4d006",
      "name": "Search files and folders1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Mes1').item.json.mes_extenso }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd",
            "mode": "list",
            "cachedResultName": "Entrada",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1v41-f6H9oVW9sKlR6sVHtPdaNyUSWKkd"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1968,
        1200
      ],
      "id": "fc187d83-540b-4759-8fd0-ab3e6556aeeb",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        800
      ],
      "id": "7f7069b1-a3fc-4876-bcd3-62ff9bf2fe72",
      "name": "HTTP Request",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.Nome }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "C5",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4672,
        800
      ],
      "id": "831e42a1-c5df-4f9a-a01f-81797437fa85",
      "name": "Nome"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        960
      ],
      "id": "6422c9ec-bf18-4561-9563-7dbf86c4764c",
      "name": "HTTP Request1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        1120
      ],
      "id": "1061f0da-442d-4b45-b343-77ec3994124e",
      "name": "HTTP Request2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        1280
      ],
      "id": "1563b8cc-7965-405f-ba84-16af9c07dc62",
      "name": "HTTP Request3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.Telefone }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "G5",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4672,
        960
      ],
      "id": "9118a5d6-852e-4fbe-9f20-f3fd8df64678",
      "name": "Telefone1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.Aparelho }} - {{ $json.Marca }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "C6",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4672,
        1120
      ],
      "id": "df75feb4-2275-42d8-bea4-beb9b6c8c2dc",
      "name": "Aparelho"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.Modelo }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "I7",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4672,
        1280
      ],
      "id": "c4ff7650-b3e3-4e8e-afcf-3ce6978c5769",
      "name": "Modelo"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        1472
      ],
      "id": "98105a7c-f375-4099-9ad3-4afa5e6bdaf8",
      "name": "HTTP Request4",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        1632
      ],
      "id": "402513ae-2c1d-4029-afd9-b5a83dd3779b",
      "name": "HTTP Request5",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.Defeito }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "E8",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4672,
        1472
      ],
      "id": "18b34c28-f4be-4b00-9f20-a56870a6c2b6",
      "name": "Defeito"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json['Observações'] }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "B9",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4672,
        1632
      ],
      "id": "d2d49c8e-f107-4329-822d-d75e70a5ec8f",
      "name": "Observações"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        1792
      ],
      "id": "43f56425-517c-467b-bcc9-3688b6709592",
      "name": "HTTP Request6",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://sheets.googleapis.com/v4/spreadsheets/1mBqrGbJJg7Kf9qH9kDmdJpsvklfbh7BX1aS0-1IdnHw/values/OS%202025!{{ $json.local }}?valueInputOption=RAW",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "RAW"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"range\": \"OS 2025!{{ $json.local }}\",\n  \"majorDimension\": \"ROWS\",\n  \"values\": [\n    [\"{{ $json.text }}\"]\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4976,
        1952
      ],
      "id": "08cab48e-038a-447c-99c9-855f71a473af",
      "name": "HTTP Request7",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.dataFormatada }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "H13",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4816,
        1792
      ],
      "id": "0e5062a7-e3d6-44a9-82e2-df0c5fdfe089",
      "name": "Data2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0f7c0dcd-b35c-46c3-91d8-dceb0eef69b8",
              "name": "text",
              "value": "={{ $json.OS }}",
              "type": "string"
            },
            {
              "id": "2deb0381-7106-474d-87eb-e36ddf65be29",
              "name": "local",
              "value": "J2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4672,
        1952
      ],
      "id": "d00714e6-d313-42da-9b44-066d0142f05e",
      "name": "OS"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5712,
        1248
      ],
      "id": "49fe0818-5123-4623-9f5e-6209b820946f",
      "name": "Merge1",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Obtém a data original em string e converte para objeto Date\nconst inputDateStr = $('Data').first().json.data;\nconst inputDate = new Date(inputDateStr);\n\n// Subtrai 1 hora manualmente (ajuste de -04:00 para -03:00)\ninputDate.setHours(inputDate.getHours() - 3);\n\n// Formata a data no padrão brasileiro\nconst dia = String(inputDate.getDate()).padStart(2, '0');\nconst mes = String(inputDate.getMonth() + 1).padStart(2, '0');\nconst ano = inputDate.getFullYear();\nconst hora = String(inputDate.getHours()).padStart(2, '0');\nconst minuto = String(inputDate.getMinutes()).padStart(2, '0');\n\nconst dataFormatada = `${dia}/${mes}/${ano} ${hora}:${minuto}`;\n\n// Retorna resultado\nreturn [\n  {\n    json: {\n      dataFormatada\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4672,
        1792
      ],
      "id": "fc6f767c-0f8d-4733-90d1-0573ac4ce99a",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const dataString = item.json.dataFormatada; // Ex: \"15/07/2025 15:01\"\n\n  // Converte string BR para ISO (yyyy-mm-ddTHH:MM:00)\n  const partes = dataString.split(/[\\s/:]/); // [dia, mês, ano, hora, minuto]\n  const dataISO = `${partes[2]}-${partes[1]}-${partes[0]}T${partes[3]}:${partes[4]}:00`;\n\n  const data = new Date(dataISO);\n  const horaAtual = data.getHours();\n\n  let saudacao;\n\n  if (horaAtual >= 6 && horaAtual < 12) {\n    saudacao = \"Bom dia\";\n  } else if (horaAtual >= 12 && horaAtual < 18) {\n    saudacao = \"Boa tarde\";\n  } else {\n    saudacao = \"Boa noite\";\n  }\n\n  item.json.saudacao = saudacao;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        192
      ],
      "id": "04c04e9d-5fe8-4789-b8cf-2fdb8905de51",
      "name": "Sauda"
    },
    {
      "parameters": {
        "jsCode": "// Define o fuso horário de São Paulo\nconst agora = new Date().toLocaleString(\"pt-BR\", { timeZone: \"America/Sao_Paulo\" });\nconst horaAtual = new Date(agora).getHours();\n\nlet saudacao;\n\nif (horaAtual >= 6 && horaAtual < 12) {\n  saudacao = \"Bom dia\";\n} else if (horaAtual >= 12 && horaAtual < 18) {\n  saudacao = \"Boa tarde\";\n} else {\n  saudacao = \"Boa noite\";\n}\n\nreturn [{ json: { saudacao } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -64
      ],
      "id": "e9630dba-7493-4616-88d7-957d8a00839a",
      "name": "Sauda1"
    },
    {
      "parameters": {
        "outputFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        784,
        192
      ],
      "id": "1b17fa32-6927-44fc-b06f-9ab60d010a24",
      "name": "Data3"
    },
    {
      "parameters": {
        "jsCode": "// Obtém a data original em string e converte para objeto Date\nconst inputDateStr = $('Data3').first().json.data;\nconst inputDate = new Date(inputDateStr);\n\n// Subtrai 1 hora manualmente (ajuste de -04:00 para -03:00)\ninputDate.setHours(inputDate.getHours() - 7);\n\n// Formata a data no padrão brasileiro\nconst dia = String(inputDate.getDate()).padStart(2, '0');\nconst mes = String(inputDate.getMonth() + 1).padStart(2, '0');\nconst ano = inputDate.getFullYear();\nconst hora = String(inputDate.getHours()).padStart(2, '0');\nconst minuto = String(inputDate.getMinutes()).padStart(2, '0');\n\nconst dataFormatada = `${dia}/${mes}/${ano} ${hora}:${minuto}`;\n\n// Retorna resultado\nreturn [\n  {\n    json: {\n      dataFormatada\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        192
      ],
      "id": "740c3481-52e3-4cf2-b49b-54558d06aeba",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "// Obtém a data original em string e converte para objeto Date\nconst inputDateStr = $('Data').first().json.data;\nconst inputDate = new Date(inputDateStr);\n\n// Subtrai 1 hora manualmente (ajuste de -04:00 para -03:00)\ninputDate.setHours(inputDate.getHours() - 7);\n\n// Formata a data no padrão brasileiro\nconst dia = String(inputDate.getDate()).padStart(2, '0');\nconst mes = String(inputDate.getMonth() + 1).padStart(2, '0');\nconst ano = inputDate.getFullYear();\nconst hora = String(inputDate.getHours()).padStart(2, '0');\nconst minuto = String(inputDate.getMinutes()).padStart(2, '0');\n\nconst dataFormatada = `${dia}/${mes}/${ano} ${hora}:${minuto}`;\n\n// Retorna resultado\nreturn [\n  {\n    json: {\n      dataFormatada\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -80
      ],
      "id": "0362ef67-872f-43a8-b1b7-58efdc840e24",
      "name": "Code3"
    },
    {
      "parameters": {
        "jsCode": "// Obtém a data original em string e converte para objeto Date\nconst inputDateStr = $('Data').first().json.data;\nconst inputDate = new Date(inputDateStr);\n\n// Subtrai 1 hora manualmente (ajuste de -04:00 para -03:00)\ninputDate.setHours(inputDate.getHours() - 3);\n\n// Formata a data no padrão brasileiro\nconst dia = String(inputDate.getDate()).padStart(2, '0');\nconst mes = String(inputDate.getMonth() + 1).padStart(2, '0');\nconst ano = inputDate.getFullYear();\nconst hora = String(inputDate.getHours()).padStart(2, '0');\nconst minuto = String(inputDate.getMinutes()).padStart(2, '0');\n\nconst dataFormatada = `${dia}/${mes}/${ano} ${hora}:${minuto}`;\n\n// Retorna resultado\nreturn [\n  {\n    json: {\n      dataFormatada\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        1184
      ],
      "id": "cf98d828-7bcd-4b24-8f19-62c4f4cd5475",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const dataString = item.json.dataFormatada; // Ex: \"15/07/2025 15:01\"\n\n  // Converte string BR para ISO (yyyy-mm-ddTHH:MM:00)\n  const partes = dataString.split(/[\\s/:]/); // [dia, mês, ano, hora, minuto]\n  const dataISO = `${partes[2]}-${partes[1]}-${partes[0]}T${partes[3]}:${partes[4]}:00`;\n\n  const data = new Date(dataISO);\n  const horaAtual = data.getHours();\n\n  let saudacao;\n\n  if (horaAtual >= 6 && horaAtual < 12) {\n    saudacao = \"Bom dia\";\n  } else if (horaAtual >= 12 && horaAtual < 18) {\n    saudacao = \"Boa tarde\";\n  } else {\n    saudacao = \"Boa noite\";\n  }\n\n  item.json.saudacao = saudacao;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1312,
        1184
      ],
      "id": "45aad233-9d04-46c4-828f-04cdc4ebd20d",
      "name": "Sauda2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51c41fbb-ec99-42f3-8f11-942dff4f5087",
              "name": "body.nome",
              "value": "={{ $('Webhook').item.json.body.nome.toLowerCase().replace(/(^|\\s)\\w/g, l => l.toUpperCase()) }}",
              "type": "string"
            },
            {
              "id": "917b6d7b-48c6-4908-8fcf-934d178456f3",
              "name": "body.sobrenome",
              "value": "={{ $('Webhook').item.json.body.sobrenome.toLowerCase().replace(/(^|\\s)\\w/g, l => l.toUpperCase()) }}",
              "type": "string"
            },
            {
              "id": "7676b0b5-f9f2-41a0-975a-e2cd997fa678",
              "name": "body.aparelho",
              "value": "={{ $('Webhook').item.json.body.aparelho.toLowerCase().replace(/(^|\\s)\\w/g, l => l.toUpperCase()) }}",
              "type": "string"
            },
            {
              "id": "e7fe4169-3602-4866-bb93-67de0cd4bd58",
              "name": "body.marca",
              "value": "={{ $('Webhook').item.json.body.marca.toUpperCase()}}",
              "type": "string"
            },
            {
              "id": "0481a439-fb2b-42a9-8029-ccafaf7d4280",
              "name": "body.modelo",
              "value": "={{ $('Webhook').item.json.body.modelo.toUpperCase()}}",
              "type": "string"
            },
            {
              "id": "c2245e6a-a828-4803-bc07-29a808a63ec1",
              "name": "body.defeito",
              "value": "={{ $('Webhook').item.json.body.defeito.toLowerCase().replace(/(^|\\s)\\w/g, l => l.toUpperCase()) }}",
              "type": "string"
            },
            {
              "id": "35d2e7ec-7fc4-4b44-8e01-55833b04f343",
              "name": "body.observacoes",
              "value": "={{ $('Webhook').item.json.body.observacoes.toLowerCase().replace(/(^|\\s)\\w/g, l => l.toUpperCase()) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -160,
        1184
      ],
      "id": "dd6a8ee5-8014-4647-916c-eb63a9d7b589",
      "name": "dados"
    },
    {
      "parameters": {
        "tableId": "ordens_servico",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "os_number",
              "fieldValue": "={{ $('Telefone').item.json.OS }}"
            },
            {
              "fieldId": "nome",
              "fieldValue": "={{ $('dados').item.json.body.nome }}"
            },
            {
              "fieldId": "sobrenome",
              "fieldValue": "={{ $('dados').item.json.body.sobrenome }}"
            },
            {
              "fieldId": "aparelho",
              "fieldValue": "={{ $('dados').item.json.body.aparelho }}"
            },
            {
              "fieldId": "marca",
              "fieldValue": "={{ $('dados').item.json.body.marca }}"
            },
            {
              "fieldId": "modelo",
              "fieldValue": "={{ $('dados').item.json.body.modelo }}"
            },
            {
              "fieldId": "defeito",
              "fieldValue": "={{ $('dados').item.json.body.defeito }}"
            },
            {
              "fieldId": "observacoes",
              "fieldValue": "={{ $('dados').item.json.body.observacoes }}"
            },
            {
              "fieldId": "telefone",
              "fieldValue": "={{ $('Webhook').item.json.body.telefone }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3504,
        1408
      ],
      "id": "b4a95fbe-c649-485c-9676-dab9be8dcd1e",
      "name": "Salve historico",
      "executeOnce": true,
      "credentials": {
        "supabaseApi": {
          "id": "r7qiHeLbj3sFTwB4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E29DB01364090EFDC8006E9A5181015/token/771E4BE1F789AB112E4831D6/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Add OS Cliente').item.json.numero }}"
            },
            {
              "name": "message",
              "value": "={{ $('Sauda2').item.json.saudacao }} {{ $(\"Edit Fields\").item.json.Nome.split(' ')[0] }}! \nSua OS é a número {{ $('Telefone').item.json.OS }}\n\nReferente ao seu *{{ $('OS Central').item.json.Aparelho }} {{ $('OS Central').item.json.Marca }}*\n\n_Modelo {{ $('OS Central').item.json.Modelo }}._\n\nDefeito relatado: *{{ $('OS Central').item.json.Defeito }}*\n\nObservações do técnico: {{ $('OS Central').item.json['Observações'] }}\n"
            },
            {
              "name": "delayMessage",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6448,
        1248
      ],
      "id": "3ab69f15-babb-4522-acc7-13761eb497bc",
      "name": "Z-API",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gx5XA9roLVkNIKBs",
          "name": "Z-API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5e754a0b-c808-47aa-9e89-5682fc6b0202",
              "leftValue": "={{ $json.body.reprinting }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1584,
        1408
      ],
      "id": "72078656-bab0-4109-ad33-bd157a8909c2",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Get a row').item.json.os_number }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        1424
      ],
      "id": "cf99c69e-b6b0-4381-a6c0-fc5588c4b9a2",
      "name": "Search files and folders2",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://drive.google.com/uc?export=download&id={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        1424
      ],
      "id": "2586fd80-a336-4c98-a02c-1a76b38185ab",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.159:5566/print",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ChaveSecreta"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        1424
      ],
      "id": "b8807bf3-9790-4aba-a5b9-cf16cb2651c0",
      "name": "Print3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E29DB01364090EFDC8006E9A5181015/token/771E4BE1F789AB112E4831D6/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Get a row1').item.json.numero }}"
            },
            {
              "name": "message",
              "value": "={{ $('Sauda3').item.json.saudacao }} {{ $('Get a row').item.json.nome }}! \nSua OS é a número {{ $('Get a row').item.json.os_number }}\n\nReferente ao seu *{{ $('Get a row').item.json.aparelho }} {{ $('Get a row').item.json.marca }}*\n\n_Modelo {{ $('Get a row').item.json.modelo }}._\n\nDefeito relatado: *{{ $('Get a row').item.json.defeito }}*\n\nObservações do técnico: {{ $('Get a row').item.json.observacoes }}\n"
            },
            {
              "name": "delayMessage",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        608,
        1424
      ],
      "id": "7dea7e00-d90d-4ca4-a2a9-3b4dd7dcf688",
      "name": "Z-API1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Gx5XA9roLVkNIKBs",
          "name": "Z-API"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "ordens_servico",
        "filters": {
          "conditions": [
            {
              "keyName": "os_number",
              "keyValue": "={{ $json.body.os_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -688,
        1424
      ],
      "id": "97da71ca-80f8-4846-9093-82d2dee320cc",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "r7qiHeLbj3sFTwB4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "usuarios",
              "keyValue": "={{ $json.nome }} {{ $json.sobrenome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -544,
        1424
      ],
      "id": "4cfb6a8f-67bb-4110-86ce-25535e028e73",
      "name": "Get a row1",
      "credentials": {
        "supabaseApi": {
          "id": "r7qiHeLbj3sFTwB4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "outputFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        32,
        1424
      ],
      "id": "c42f83a8-c392-485c-a452-cd7888a3d526",
      "name": "Data1"
    },
    {
      "parameters": {
        "jsCode": "const meses = [\n  'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',\n  'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'\n];\n\nreturn items.map(item => {\n  const data = new Date(item.json.data);\n\n  // Ajuste de fuso se necessário:\n  // data.setHours(data.getHours() - 4);\n\n  const mesExtenso = meses[data.getMonth()];\n  const mesCapitalizado = mesExtenso.charAt(0).toUpperCase() + mesExtenso.slice(1);\n\n  item.json.mes_extenso = mesCapitalizado;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        1424
      ],
      "id": "117c6cee-bfce-43ee-a270-aac73e85ff77",
      "name": "Mes"
    },
    {
      "parameters": {
        "jsCode": "// Obtém a data original em string e converte para objeto Date\nconst inputDateStr = $('Data1').first().json.data;\nconst inputDate = new Date(inputDateStr);\n\n// Subtrai 1 hora manualmente (ajuste de -04:00 para -03:00)\ninputDate.setHours(inputDate.getHours() - 3);\n\n// Formata a data no padrão brasileiro\nconst dia = String(inputDate.getDate()).padStart(2, '0');\nconst mes = String(inputDate.getMonth() + 1).padStart(2, '0');\nconst ano = inputDate.getFullYear();\nconst hora = String(inputDate.getHours()).padStart(2, '0');\nconst minuto = String(inputDate.getMinutes()).padStart(2, '0');\n\nconst dataFormatada = `${dia}/${mes}/${ano} ${hora}:${minuto}`;\n\n// Retorna resultado\nreturn [\n  {\n    json: {\n      dataFormatada\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        1424
      ],
      "id": "488ccc80-d6dc-46a8-b7dd-0aec38b2239b",
      "name": "Code4"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  const dataString = item.json.dataFormatada; // Ex: \"15/07/2025 15:01\"\n\n  // Converte string BR para ISO (yyyy-mm-ddTHH:MM:00)\n  const partes = dataString.split(/[\\s/:]/); // [dia, mês, ano, hora, minuto]\n  const dataISO = `${partes[2]}-${partes[1]}-${partes[0]}T${partes[3]}:${partes[4]}:00`;\n\n  const data = new Date(dataISO);\n  const horaAtual = data.getHours();\n\n  let saudacao;\n\n  if (horaAtual >= 6 && horaAtual < 12) {\n    saudacao = \"Bom dia\";\n  } else if (horaAtual >= 12 && horaAtual < 18) {\n    saudacao = \"Boa tarde\";\n  } else {\n    saudacao = \"Boa noite\";\n  }\n\n  item.json.saudacao = saudacao;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        1424
      ],
      "id": "1a4b96d3-0718-478c-91d7-2654f17364a5",
      "name": "Sauda3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.reprinting }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    },
                    "id": "4957eb22-a909-471c-9b52-edb9e59b8949"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "95c7c19e-2e6f-4bf4-8022-cce6bc15bfef",
                    "leftValue": "={{ $json.body.reprinting }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6dffda69-ea3e-4d8e-af04-301bb407d709",
                    "leftValue": "={{ $json.body.reprinting_only }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1136,
        1200
      ],
      "id": "4ef1230d-40ea-4f64-9e17-325c3af12e34",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Get a row2').item.json.os_number }}",
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -400,
        1584
      ],
      "id": "c937b170-c0b5-4c80-a331-927ba102564d",
      "name": "Search files and folders3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://drive.google.com/uc?export=download&id={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -256,
        1584
      ],
      "id": "017dad6a-e8d0-409a-9486-e8d80b9f27c4",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.159:5566/print",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "ChaveSecreta"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        1584
      ],
      "id": "1fb5d06a-4921-458f-b662-8e7c84d481ba",
      "name": "Print4"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "ordens_servico",
        "filters": {
          "conditions": [
            {
              "keyName": "os_number",
              "keyValue": "={{ $json.body.os_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -688,
        1584
      ],
      "id": "7d95248e-357d-42fc-aec6-2f452bd2877d",
      "name": "Get a row2",
      "credentials": {
        "supabaseApi": {
          "id": "r7qiHeLbj3sFTwB4",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "Usuarios",
        "filters": {
          "conditions": [
            {
              "keyName": "usuarios",
              "keyValue": "={{ $json.nome }} {{ $json.sobrenome }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -544,
        1584
      ],
      "id": "9f49c55d-8e6a-4216-ba84-47b81eafc93a",
      "name": "Get a row3",
      "credentials": {
        "supabaseApi": {
          "id": "r7qiHeLbj3sFTwB4",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "auto.kadovesh.com",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "content-length": "220",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2804:14d:6885:42f0:9082:354e:d652:ddbb",
            "cf-ipcountry": "BR",
            "cf-ray": "96d8a3df2a2ac288-MIA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "4cb46873-8ce4-4f1b-8179-328d2f98a45c",
            "connection": "keep-alive",
            "content-type": "application/json",
            "origin": "http://localhost",
            "priority": "u=1, i",
            "referer": "http://localhost/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2804:14d:6885:42f0:9082:354e:d652:ddbb",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "reprinting": false,
            "os_number": 25560,
            "telefone": "(12) 99712-0666",
            "nome": "Edir",
            "sobrenome": "Franqueira",
            "aparelho": "Televisor",
            "marca": "SAMSUNG",
            "modelo": "UN65BU8000G",
            "defeito": "Metade Da Tela Escura",
            "observacoes": ""
          },
          "webhookUrl": "https://auto.kadovesh.com/webhook/form",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-11T15:07:44.000Z",
  "versionId": "645b1f01-5d3b-48d6-9b60-8e68d4788d01"
}