backup/IP.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Redis2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis2": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T01:29:58.160Z",
  "id": "ZFfsN7twwrkF9mro",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "IP",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ip",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1456,
        208
      ],
      "id": "27aa9771-25ba-4bd8-962c-ee147a70ea14",
      "name": "Webhook",
      "webhookId": "dba71045-10a5-49ba-9a5b-7299158d4a92"
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "IP",
        "key": "IP_ChaveMestra",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        -1104,
        208
      ],
      "id": "ce3ef9fa-4f67-44e3-b336-5a2e23bdd5fa",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "Y9iYyrM7JSw5IMqj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.IP }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    },
                    "id": "e4971b8b-6500-4941-a2e1-5104d712c575"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Vazio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d702962c-54d9-4794-ac38-50ca14ec4ac7",
                    "leftValue": "={{ $json.IP }}",
                    "rightValue": "={{ $('Webhook').item.json.body.new_ip }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Novo IP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "74dd0992-8fc0-4a2b-90d8-e0a250782819",
                    "leftValue": "={{ $('Webhook').item.json.body.content }}",
                    "rightValue": "Envio manual",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "29cdd539-c093-4607-a414-1ab65d36d0cc",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ae361df5-1d86-48a7-9c45-115ccffc52e7",
                    "leftValue": "={{ $json.IP }}",
                    "rightValue": "={{ $('Webhook').item.json.body.new_ip }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sem altera"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -880,
        208
      ],
      "id": "14bf38a4-135e-432d-b211-c4f8c00717b3",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "IP_ChaveMestra",
        "value": "={{ $('Webhook').item.json.body.new_ip }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "54b68685-cbee-4f79-b6dd-5a2085d75eb5",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "Y9iYyrM7JSw5IMqj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "IP_ChaveMestra",
        "value": "={{ $('Webhook').item.json.body.new_ip }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        0,
        160
      ],
      "id": "fff9b12a-e474-4e24-87c3-3e55335d2dee",
      "name": "Redis2",
      "credentials": {
        "redis": {
          "id": "Y9iYyrM7JSw5IMqj",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=1295939520",
        "text": "={{ $json.IP }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        224
      ],
      "id": "121b88d7-0e04-4816-a423-4bd974f4795a",
      "name": "Send a text message",
      "webhookId": "2de4971a-eb6d-4db4-96c5-f8555ce82e16",
      "credentials": {
        "telegramApi": {
          "id": "LnYyNU54LkNB79CH",
          "name": "Server BOT"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -720,
        448
      ],
      "id": "95876624-b93c-44db-bd1d-57f4c858634b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0ee6f38f-b8ef-4778-9a07-cc3de34f0ee5",
              "name": "IP",
              "value": "=🛰️ Envio Manual IP: {{ $json.IP }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        416
      ],
      "id": "cbfa9d2e-0f10-4ad5-b1e1-f2f5e38d3d20",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e8d562e-04b5-420f-9580-5658f2b125ec",
              "name": "IP",
              "value": "=🛰️ Novo IP: {{ $('Webhook').item.json.body.new_ip }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        80
      ],
      "id": "a9dac60f-afa3-4400-9cb1-102af2638f3d",
      "name": "Edit Fields1"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "auto.kadovesh.com",
            "user-agent": "axios/1.11.0",
            "content-length": "145",
            "accept": "application/json, text/plain, */*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "2804:14d:6885:42f0:9082:354e:d652:ddbb",
            "cf-ipcountry": "BR",
            "cf-ray": "968ddc203e1bb18d-MIA",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-warp-tag-id": "e2cdb32c-58d4-4ea6-8409-425d697ae4cc",
            "connection": "keep-alive",
            "content-type": "application/json",
            "x-forwarded-for": "2804:14d:6885:42f0:9082:354e:d652:ddbb",
            "x-forwarded-proto": "https"
          },
          "params": {},
          "query": {},
          "body": {
            "content": "ℹ️ Envio manual! O IP externo atual do servidor é: *177.183.18.23*",
            "username": "Monitor de IP Externo",
            "new_ip": "177.183.18.23"
          },
          "webhookUrl": "https://auto.kadovesh.com/webhook/ip",
          "executionMode": "production"
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-08-02T01:29:58.164Z",
      "createdAt": "2025-08-02T01:29:58.164Z",
      "role": "workflow:owner",
      "workflowId": "ZFfsN7twwrkF9mro",
      "projectId": "O2voI4XYg26wWumH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-01T19:13:35.000Z",
  "versionId": "b325cc2b-f743-4755-834a-dd945d9f0600"
}