backup/Max Hamster.json
{
  "active": true,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T01:35:41.561Z",
  "id": "3lrNFbKExsC7Drep",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Max Hamster",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Seu nome é Max, seu apelido é Max. Você é um Hamster acadêmico que imita a personalidade de alguns dos maiores gênios da história, enquanto tem o humor de um senhor de idade, que brinca, tem histórias e fatos, mas ainda carrega grande sabedoria como nenhum outro, e mesmo assim consegue ser suscinto e direto em suas frases, mesmo sem perder personalidade.\nVocê também segue a linha de pensamento evangélica reformada.\nSeu objetivo é ser mentor e assistente do usuário, o auxiliando com qualquer tema que envolva os tópicos da sabedoria.\n\nAjude, pesquise e explique o que o usuário precisar, da forma mais inteligente e clássica possível, sendo simples mas não simplista. Explicando tal como Feynman explicaria, com dinâmicas, didáticas e sacadas. \nSeja genial em cada fala, mesmo que a custo de ser tão sutíl que poucas mentes percebam. Seja feliz.\n\nUse como sua base de conhecimento livros como Trivium e Quadrivium, aristóteles, platão, a Biblia, o currículo do Classical Conversations e outras fontes do conhecimento e metodologias clássicas do ensino, onde o conhecimento não é só o objetivo, mas também o caminho.\n\nNa primeira mensagem do dia, pode ser o quão verborrágico decidir, porém nas ao ajudar o usuário, tente ser direto, mas nunca peredendo seu charme pessoal!\n\n#Evite citar seu próprio nome\n#Evite filosofar muito distantemente ",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1920,
        -32
      ],
      "id": "0e2304c0-9b2f-4f56-92bd-7afe5438a74e",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1952,
        192
      ],
      "id": "8f4a4d71-e5ed-4fc3-8e57-b7e4a43020cd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "sB9sHBeXxAJCJTEo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -256,
        -16
      ],
      "id": "3d422e0b-100b-4609-a1f5-67e1a16ac180",
      "name": "Send a text message",
      "webhookId": "2de4971a-eb6d-4db4-96c5-f8555ce82e16",
      "credentials": {
        "telegramApi": {
          "id": "8OesCp11e73bKqo4",
          "name": "Max"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -768,
        -112
      ],
      "id": "a88d389d-2b2d-49ca-9978-fa5b1160fdae",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -416,
        -112
      ],
      "id": "35cb2412-35c6-42f8-b3a6-749c85aa4d7f",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -560,
        16
      ],
      "id": "7a0962f9-0d48-438d-9699-05866b2ebb57",
      "name": "Wait",
      "webhookId": "0a0fbddb-34c1-4975-be3f-51b6552a2bc0"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8252521542:AAEzA1K238_yM3Jh5xKlvcQPeGUFUo0NyQk/getFile?file_id={{ $json.message.document.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3216,
        96
      ],
      "id": "f71b78f2-1778-44b3-8ced-c2fd0216904f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8252521542:AAEzA1K238_yM3Jh5xKlvcQPeGUFUo0NyQk/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3008,
        96
      ],
      "id": "5c00196a-e450-4400-84c1-4309ade0dd67",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b14a578-bd85-4bdd-885b-ccfb5721f47b",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3488,
        -16
      ],
      "id": "455dc5df-9d7d-4b77-9df7-5e676450715e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2800,
        96
      ],
      "id": "e4145f9e-99fc-4a54-bd6d-a10a98c4060f",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2528,
        -16
      ],
      "id": "7f02e22b-d708-4e45-bcc8-cc6e175582b1",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "975fd89f-c2e8-4177-adf9-6abb77e3dc4f",
              "name": "text",
              "value": "={{ $json.text }}{{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        -16
      ],
      "id": "4e040ef1-e184-4084-8993-2e6373031fd9",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1840,
        192
      ],
      "id": "90dac746-811c-41d0-b136-09f38548c283",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3712,
        -16
      ],
      "id": "29dfb4d9-e2c8-400f-ab85-180b4774b631",
      "name": "Telegram Trigger",
      "webhookId": "7cb2d74b-e507-4af0-b894-d205b55f2e89",
      "credentials": {
        "telegramApi": {
          "id": "8OesCp11e73bKqo4",
          "name": "Max"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "hayrMe7QpDgBDUbE"
  },
  "shared": [
    {
      "createdAt": "2025-08-02T01:35:41.570Z",
      "updatedAt": "2025-08-02T01:35:41.570Z",
      "role": "workflow:owner",
      "workflowId": "3lrNFbKExsC7Drep",
      "projectId": "O2voI4XYg26wWumH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-09-05T18:54:52.000Z",
  "versionId": "7e400837-d116-4ce2-8db5-617ff2c473d5"
}