backup/Max Hamster.json
{
  "active": false,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-02T01:35:41.561Z",
  "id": "3lrNFbKExsC7Drep",
  "isArchived": false,
  "meta": null,
  "name": "Max Hamster",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -6112,
        -32
      ],
      "id": "8a024216-2324-4142-93f1-c5f42bf11c95",
      "name": "Telegram Trigger",
      "webhookId": "0cd6a441-c59f-4dc6-b61d-c74f8f643afb"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=Seu nome é Max, seu apelido é Max. Você é um Hamster acadêmico que imita a personalidade de alguns dos maiores gênios da história, enquanto tem o humor de um senhor de idade, que brinca, tem histórias e fatos, mas ainda carrega grande sabedoria como nenhum outro, e mesmo assim consegue ser suscinto e direto em suas frases, mesmo sem perder personalidade.\nVocê também segue a linha de pensamento evangélica reformada.\nSeu objetivo é ser mentor e assistente do usuário, o auxiliando com qualquer tema que envolva os tópicos da sabedoria.\n\nAjude, pesquise e explique o que o usuário precisar, da forma mais inteligente e clássica possível, sendo simples mas não simplista. Explicando tal como Feynman explicaria, com dinâmicas, didáticas e sacadas. \nSeja genial em cada fala, mesmo que a custo de ser tão sutíl que poucas mentes percebam. Seja feliz.\n\nUse como sua base de conhecimento livros como Trivium e Quadrivium, aristóteles, platão, a Biblia, o currículo do Classical Conversations e outras fontes do conhecimento e metodologias clássicas do ensino, onde o conhecimento não é só o objetivo, mas também o caminho.\n\nNa primeira mensagem do dia, pode ser o quão verborrágico decidir, porém nas ao ajudar o usuário, tente ser direto, mas nunca peredendo seu charme pessoal!\n\n#Evite citar seu próprio nome\n#Evite filosofar muito distantemente ",
          "passthroughBinaryImages": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -4320,
        -48
      ],
      "id": "dbd02ea2-6736-4ce0-8614-35be19cc22fd",
      "name": "AI Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -4352,
        176
      ],
      "id": "7aa9cccb-7fe0-4078-96c4-2c0a74036fbc",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2656,
        -32
      ],
      "id": "0f5c881f-e4dd-420c-80c2-a637ea018ddc",
      "name": "Send a text message",
      "webhookId": "2de4971a-eb6d-4db4-96c5-f8555ce82e16"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output.mensagens",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3168,
        -128
      ],
      "id": "27c696b3-14f2-44ef-8e33-a2766209ac39",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2816,
        -128
      ],
      "id": "46a5b205-ad77-4352-9e9b-c9f10a72f4ce",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2960,
        0
      ],
      "id": "15227890-82f0-47ab-a5e5-323c0d908651",
      "name": "Wait",
      "webhookId": "0a0fbddb-34c1-4975-be3f-51b6552a2bc0"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot8252521542:AAEzA1K238_yM3Jh5xKlvcQPeGUFUo0NyQk/getFile?file_id={{ $json.message.document.file_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5616,
        80
      ],
      "id": "da3a6974-d138-44fb-9868-f8a5a97a7c9f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot8252521542:AAEzA1K238_yM3Jh5xKlvcQPeGUFUo0NyQk/{{ $json.result.file_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5408,
        80
      ],
      "id": "fb6e0ebc-2ccc-4651-8dae-d6539830f518",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -5328,
        320
      ],
      "id": "fd716fe6-da83-418e-b4f8-b866fc4eb87c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7b14a578-bd85-4bdd-885b-ccfb5721f47b",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -5888,
        -32
      ],
      "id": "7463caa7-f5d6-4954-b076-109cae21fb33",
      "name": "If"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -5168,
        256
      ],
      "id": "675c5a81-e171-4543-b08e-c5c140834cab",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -5200,
        80
      ],
      "id": "e22d6bb7-2ead-48d2-9b6d-de06be6b0f67",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -4928,
        -32
      ],
      "id": "f4aac1c4-7521-46b3-810a-e2a535aee2ae",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "975fd89f-c2e8-4177-adf9-6abb77e3dc4f",
              "name": "text",
              "value": "={{ $json.text }}{{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4720,
        -32
      ],
      "id": "63a8b695-de88-47e8-9db2-4c8761855847",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -4240,
        176
      ],
      "id": "6a3270ad-59a7-4c97-87b2-e10b55319253",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-06T01:45:37.000Z",
  "versionId": "e9a64353-ed9d-4a18-b19f-154094107718"
}