backup/My workflow.json
{
  "active": false,
  "connections": {
    "Create folder1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Mes1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mes1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Search files and folders1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Search files and folders3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Search files and folders2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders3": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-01T19:28:14.427Z",
  "id": "wyXBRT1xpKqvGCHt",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        -16
      ],
      "id": "81cd6e8e-4f9f-4fb6-b61d-c0e92e744e46",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Mes1').item.json.mes_extenso }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1kQwcj-KfD3PoV2CXdGE9VlKUW0qOM03y",
          "mode": "list",
          "cachedResultName": "N8N",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kQwcj-KfD3PoV2CXdGE9VlKUW0qOM03y"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        576,
        96
      ],
      "id": "a7e04bbd-ce56-4b1d-ac89-b6d33ba333c2",
      "name": "Create folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75f9532a-cbe0-4f5f-9333-6f0e3037b075",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Mes1').item.json.mes_extenso }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        448,
        -16
      ],
      "id": "da35cc9b-cd4d-43f1-91e5-c9d7ef0fdfdb",
      "name": "If1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Mes1').item.json.mes_extenso }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1kQwcj-KfD3PoV2CXdGE9VlKUW0qOM03y",
            "mode": "list",
            "cachedResultName": "N8N",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1kQwcj-KfD3PoV2CXdGE9VlKUW0qOM03y"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        256,
        -16
      ],
      "id": "61cf40a9-d8c9-4cc3-ac33-6da456cdb08d",
      "name": "Search files and folders1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Mes1').item.json.mes_extenso }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1kQwcj-KfD3PoV2CXdGE9VlKUW0qOM03y",
            "mode": "list",
            "cachedResultName": "N8N",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1kQwcj-KfD3PoV2CXdGE9VlKUW0qOM03y"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        -16
      ],
      "id": "657ed5e2-db40-4040-8e14-c5d6275e16ea",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "outputFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -320,
        -16
      ],
      "id": "dfb29dce-5f6f-497b-b3d1-5d0e31f64e26",
      "name": "Data"
    },
    {
      "parameters": {
        "jsCode": "const meses = [\n  'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',\n  'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'\n];\n\nreturn items.map(item => {\n  const data = new Date(item.json.data);\n\n  // Ajuste de fuso se necessário:\n  // data.setHours(data.getHours() - 4);\n\n  const mesExtenso = meses[data.getMonth()];\n  const mesCapitalizado = mesExtenso.charAt(0).toUpperCase() + mesExtenso.slice(1);\n\n  item.json.mes_extenso = mesCapitalizado;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -16
      ],
      "id": "4045db52-a779-4464-926a-fa8f2ceebb93",
      "name": "Mes1"
    },
    {
      "parameters": {
        "jsCode": "// Obtém a data original em string e converte para objeto Date\nconst inputDateStr = $('Data').first().json.data;\nconst inputDate = new Date(inputDateStr);\n\n// Subtrai 1 hora manualmente (ajuste de -04:00 para -03:00)\ninputDate.setHours(inputDate.getHours() - 3);\n\n// Formata a data no padrão brasileiro\nconst dia = String(inputDate.getDate()).padStart(2, '0');\nconst mes = String(inputDate.getMonth() + 1).padStart(2, '0');\nconst ano = inputDate.getFullYear();\nconst hora = String(inputDate.getHours()).padStart(2, '0');\nconst minuto = String(inputDate.getMinutes()).padStart(2, '0');\n\nconst dataFormatada = `${dia}`;\n\n// Retorna resultado\nreturn [\n  {\n    json: {\n      dataFormatada\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -16
      ],
      "id": "cd6467af-c5bd-48b5-9966-53714de77ead",
      "name": "Code1"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $('Code1').item.json.dataFormatada }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search files and folders').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1248,
        96
      ],
      "id": "65da67f0-fbef-4096-9ebe-2baccfd08086",
      "name": "Create folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "75f9532a-cbe0-4f5f-9333-6f0e3037b075",
              "leftValue": "={{ $json.name }}",
              "rightValue": "={{ $('Code1').item.json.dataFormatada }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1120,
        -16
      ],
      "id": "112b0f3c-0988-4ada-b3bc-bf8f34967463",
      "name": "If",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Code1').item.json.dataFormatada }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        928,
        -16
      ],
      "id": "e7745705-29dc-4272-91ca-3073ec2ca5d6",
      "name": "Search files and folders2",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "={{ $('Code1').item.json.dataFormatada }}",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "={{ $('Search files and folders').item.json.id }}",
            "mode": "id"
          },
          "whatToSearch": "folders"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1392,
        -32
      ],
      "id": "0212af75-6e1d-4087-9c57-cfed426a50a8",
      "name": "Search files and folders3",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Config').item.json.repo_name }}",
          "mode": "name"
        },
        "filePath": "={{ $('Config').item.json.path }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1568,
        -32
      ],
      "id": "fe7a3a2e-a772-4f23-938e-eeb19e00f537",
      "name": "Get a file",
      "webhookId": "3ef1c9da-9694-4e4f-a39c-8198968729f3",
      "credentials": {
        "githubOAuth2Api": {
          "id": "cudddw6XIvtNsVXV",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03f51f9c-4681-4423-91d2-d32f4c18d6bc",
              "name": "repo_owner",
              "type": "string",
              "value": "DaviTKS"
            },
            {
              "id": "0c9b521a-b698-4b43-9eb0-bbf744760158",
              "name": "repo_name",
              "type": "string",
              "value": "n8n-workflows"
            },
            {
              "id": "91627e70-a71a-4be0-a6f6-b04d5c8469d8",
              "name": "repo_path",
              "type": "string",
              "value": "n8n-workflows"
            },
            {
              "id": "983a2c87-9d69-4d64-ab88-ec1b1117c6e6",
              "name": "sub_path",
              "type": "string",
              "value": "backup"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "9d5c2cdf-ed39-4b4c-b9d1-9d5e147eb5bd",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        -544,
        -16
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "name": "={{ $('Config').item.json.name }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Search files and folders3').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1776,
        -32
      ],
      "id": "464fe996-04e7-4ab7-b384-ed8e2db5099e",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1ib4QgSSisyBlll3",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "name": "Produtos.json",
          "path": "backup/Produtos.json",
          "sha": "ca2172e08ab5cf54ff18181df20b92ffdcf0a82f",
          "size": 9343,
          "url": "https://api.github.com/repos/DaviTKS/n8n-workflows/contents/backup/Produtos.json?ref=main",
          "html_url": "https://github.com/DaviTKS/n8n-workflows/blob/main/backup/Produtos.json",
          "git_url": "https://api.github.com/repos/DaviTKS/n8n-workflows/git/blobs/ca2172e08ab5cf54ff18181df20b92ffdcf0a82f",
          "download_url": "https://raw.githubusercontent.com/DaviTKS/n8n-workflows/main/backup/Produtos.json",
          "type": "file",
          "content": "ewogICJhY3RpdmUiOiBmYWxzZSwKICAiY29ubmVjdGlvbnMiOiB7CiAgICAi\nQUkgQWdlbnQxIjogewogICAgICAibWFpbiI6IFsKICAgICAgICBbCiAgICAg\nICAgICB7CiAgICAgICAgICAgICJub2RlIjogIkhUVFAgUmVxdWVzdCIsCiAg\nICAgICAgICAgICJ0eXBlIjogIm1haW4iLAogICAgICAgICAgICAiaW5kZXgi\nOiAwCiAgICAgICAgICB9CiAgICAgICAgXQogICAgICBdCiAgICB9LAogICAg\nIkNyaWFyIjogewogICAgICAiYWlfdG9vbCI6IFsKICAgICAgICBbCiAgICAg\nICAgICB7CiAgICAgICAgICAgICJub2RlIjogIkFJIEFnZW50MSIsCiAgICAg\nICAgICAgICJ0eXBlIjogImFpX3Rvb2wiLAogICAgICAgICAgICAiaW5kZXgi\nOiAwCiAgICAgICAgICB9CiAgICAgICAgXQogICAgICBdCiAgICB9LAogICAg\nIlVwZGF0ZSI6IHsKICAgICAgImFpX3Rvb2wiOiBbCiAgICAgICAgWwogICAg\nICAgICAgewogICAgICAgICAgICAibm9kZSI6ICJBSSBBZ2VudDEiLAogICAg\nICAgICAgICAidHlwZSI6ICJhaV90b29sIiwKICAgICAgICAgICAgImluZGV4\nIjogMAogICAgICAgICAgfQogICAgICAgIF0KICAgICAgXQogICAgfSwKICAg\nICJHZXQgTWFueSI6IHsKICAgICAgImFpX3Rvb2wiOiBbCiAgICAgICAgWwog\nICAgICAgICAgewogICAgICAgICAgICAibm9kZSI6ICJBSSBBZ2VudDEiLAog\nICAgICAgICAgICAidHlwZSI6ICJhaV90b29sIiwKICAgICAgICAgICAgImlu\nZGV4IjogMAogICAgICAgICAgfQogICAgICAgIF0KICAgICAgXQogICAgfSwK\nICAgICJDYWxjdWxhdG9yIjogewogICAgICAiYWlfdG9vbCI6IFsKICAgICAg\nICBbCiAgICAgICAgICB7CiAgICAgICAgICAgICJub2RlIjogIkFJIEFnZW50\nMSIsCiAgICAgICAgICAgICJ0eXBlIjogImFpX3Rvb2wiLAogICAgICAgICAg\nICAiaW5kZXgiOiAwCiAgICAgICAgICB9CiAgICAgICAgXQogICAgICBdCiAg\nICB9LAogICAgIk1lbSI6IHsKICAgICAgImFpX21lbW9yeSI6IFsKICAgICAg\nICBbCiAgICAgICAgICB7CiAgICAgICAgICAgICJub2RlIjogIkFJIEFnZW50\nMSIsCiAgICAgICAgICAgICJ0eXBlIjogImFpX21lbW9yeSIsCiAgICAgICAg\nICAgICJpbmRleCI6IDAKICAgICAgICAgIH0KICAgICAgICBdCiAgICAgIF0K\nICAgIH0sCiAgICAiTExNIjogewogICAgICAiYWlfbGFuZ3VhZ2VNb2RlbCI6\nIFsKICAgICAgICBbCiAgICAgICAgICB7CiAgICAgICAgICAgICJub2RlIjog\nIkFJIEFnZW50MSIsCiAgICAgICAgICAgICJ0eXBlIjogImFpX2xhbmd1YWdl\nTW9kZWwiLAogICAgICAgICAgICAiaW5kZXgiOiAwCiAgICAgICAgICB9CiAg\nICAgICAgXQogICAgICBdCiAgICB9LAogICAgIlN0YXJ0IjogewogICAgICAi\nbWFpbiI6IFsKICAgICAgICBbCiAgICAgICAgICB7CiAgICAgICAgICAgICJu\nb2RlIjogIkFJIEFnZW50MSIsCiAgICAgICAgICAgICJ0eXBlIjogIm1haW4i\nLAogICAgICAgICAgICAiaW5kZXgiOiAwCiAgICAgICAgICB9CiAgICAgICAg\nXQogICAgICBdCiAgICB9CiAgfSwKICAiY3JlYXRlZEF0IjogIjIwMjUtMDgt\nMDJUMDE6Mzc6NTAuNzU0WiIsCiAgImlkIjogIjJacGs1RjBZUURQZUM1Vk0i\nLAogICJpc0FyY2hpdmVkIjogZmFsc2UsCiAgIm1ldGEiOiBudWxsLAogICJu\nYW1lIjogIlByb2R1dG9zIiwKICAibm9kZXMiOiBbCiAgICB7CiAgICAgICJw\nYXJhbWV0ZXJzIjogewogICAgICAgICJtZXRob2QiOiAiUE9TVCIsCiAgICAg\nICAgInVybCI6ICJodHRwczovL2FwaS56LWFwaS5pby9pbnN0YW5jZXMvM0Uy\nOURCMDEzNjQwOTBFRkRDODAwNkU5QTUxODEwMTUvdG9rZW4vNzcxRTRCRTFG\nNzg5QUIxMTJFNDgzMUQ2L3NlbmQtdGV4dCIsCiAgICAgICAgImF1dGhlbnRp\nY2F0aW9uIjogImdlbmVyaWNDcmVkZW50aWFsVHlwZSIsCiAgICAgICAgImdl\nbmVyaWNBdXRoVHlwZSI6ICJodHRwSGVhZGVyQXV0aCIsCiAgICAgICAgInNl\nbmRCb2R5IjogdHJ1ZSwKICAgICAgICAiYm9keVBhcmFtZXRlcnMiOiB7CiAg\nICAgICAgICAicGFyYW1ldGVycyI6IFsKICAgICAgICAgICAgewogICAgICAg\nICAgICAgICJuYW1lIjogInBob25lIiwKICAgICAgICAgICAgICAidmFsdWUi\nOiAiPXt7ICQoJ1N0YXJ0JykuaXRlbS5qc29uLmJvZHkucGhvbmUgfX0iCiAg\nICAgICAgICAgIH0sCiAgICAgICAgICAgIHsKICAgICAgICAgICAgICAibmFt\nZSI6ICJtZXNzYWdlIiwKICAgICAgICAgICAgICAidmFsdWUiOiAiPXt7ICRq\nc29uLm91dHB1dCB9fSIKICAgICAgICAgICAgfQogICAgICAgICAgXQogICAg\nICAgIH0sCiAgICAgICAgIm9wdGlvbnMiOiB7fQogICAgICB9LAogICAgICAi\ndHlwZSI6ICJuOG4tbm9kZXMtYmFzZS5odHRwUmVxdWVzdCIsCiAgICAgICJ0\neXBlVmVyc2lvbiI6IDQuMiwKICAgICAgInBvc2l0aW9uIjogWwogICAgICAg\nIDEwMjQsCiAgICAgICAgLTY0CiAgICAgIF0sCiAgICAgICJpZCI6ICJlZTBj\nNDI1MC01MjA0LTQzODctOTM3MC0zNmNkNGNlMDA1OTgiLAogICAgICAibmFt\nZSI6ICJIVFRQIFJlcXVlc3QiLAogICAgICAiY3JlZGVudGlhbHMiOiB7CiAg\nICAgICAgImh0dHBIZWFkZXJBdXRoIjogewogICAgICAgICAgImlkIjogIkd4\nNVhBOXJvTFZrTklLQnMiLAogICAgICAgICAgIm5hbWUiOiAiWi1BUEkiCiAg\nICAgICAgfQogICAgICB9CiAgICB9LAogICAgewogICAgICAicGFyYW1ldGVy\ncyI6IHsKICAgICAgICAicHJvbXB0VHlwZSI6ICJkZWZpbmUiLAogICAgICAg\nICJ0ZXh0IjogIj17eyAkanNvbi5ib2R5LnRleHQubWVzc2FnZSB9fSIsCiAg\nICAgICAgIm9wdGlvbnMiOiB7CiAgICAgICAgICAic3lzdGVtTWVzc2FnZSI6\nICI9XG4jI1BFUlNPTkE6XG5Wb2PDqiDDqSB1bSBhc3Npc3RlbnRlIGRpZ2l0\nYWwgRVhUUkVNQU1FTlRFIFBST0ZJU1NJT05BTCwgcXVlIG7Do28gb2ZlcmVj\nZSBhanVkYSBvdSBhbHRlcmHDp29lcyBzZW0gcGVkaWRvIGV4cGxpY2l0byBk\nbyB1c3VhcmlvLCB2b2PDqiDDqSBlc3BlY2lhbGl6YWRvIG5hIGdlc3TDo28g\nZSBtYW51dGVuw6fDo28gZG8gYmFuY28gZGUgZGFkb3MgZGUgcHJvZHV0b3Mg\nZSBzZXJ2acOnb3MgZGEgTGXDo28gZGUgSnVkw6EgQXNzaXN0w6puY2lhIFTD\nqWNuaWNhLCBsb2NhbGl6YWRhIG5vIGJhaXJybyBKYXJkaW0gZGFzIEluZMO6\nc3RyaWFzLiBBIGxvamEgYXR1YSBubyByYW1vIGRlIGluZm9ybcOhdGljYSBl\nIG1hbnV0ZW7Dp8OjbyB0w6ljbmljYSwgb2ZlcmVjZW5kbyBjb25zZXJ0b3Mg\nZSB2ZW5kYXMgZGUgcGXDp2FzIHBhcmEgbm90ZWJvb2tzLCBjb21wdXRhZG9y\nZXMsIG1vbml0b3JlcyBlIG1pY3JvLW9uZGFzLlxuXG5TZXUgcGFwZWwgaW5j\nbHVpOlxuXG5FZGnDp8OjbyBlIEF0dWFsaXphw6fDo28gZG8gQmFuY28gZGUg\nRGFkb3M6IENvcnJpZ2lyLCBwYWRyb25pemFyIGUgYXR1YWxpemFyIHZhbG9y\nZXMsIGRlc2NyacOnw7VlcyBlIGNhdGVnb3JpYXMgZGUgcHJvZHV0b3MgZSBz\nZXJ2acOnb3MuXG5Dw6FsY3Vsb3MgZSBBbsOhbGlzZXM6IFJlYWxpemFyIGPD\noWxjdWxvcyBkZSBsdWNybywgbWFyZ2VtLCBkZXNjb250b3MsIHByb2plw6fD\ntWVzIGRlIHZlbmRhLCBlbnRyZSBvdXRyb3MsIGNvbSBiYXNlIG5vcyBkYWRv\ncyBmb3JuZWNpZG9zLlxuT3JpZW50YcOnw6NvIFTDqWNuaWNhIGUgQ29tZXJj\naWFsOiBBdXhpbGlhciBvcyBkb25vcyBkYSBsb2phIGVtIGRlY2lzw7VlcyBl\nc3RyYXTDqWdpY2FzIGUgb3BlcmFjaW9uYWlzLCByZXNwb25kZW5kbyBkw7p2\naWRhcyB0w6ljbmljYXMgc29icmUgcHJvZHV0b3MsIHByZWNpZmljYcOnw6Nv\nIGUgYm9hcyBwcsOhdGljYXMgZGUgb3JnYW5pemHDp8OjbyBkbyBlc3RvcXVl\nIGUgYXRlbmRpbWVudG8uXG5QZXNxdWlzYSBkZSBNZXJjYWRvOiBRdWFuZG8g\nbmVjZXNzw6FyaW8sIHN1Z2VyaXIgZmFpeGFzIGRlIHByZcOnbyBvdSBwYWRy\nw7VlcyBkZSBtZXJjYWRvIHBhcmEgY29tcGFyYcOnw6NvLCBjb20gYmFzZSBu\nbyBzZWdtZW50byBlIHRpcG8gZGUgcHJvZHV0by5cblJlc3Bvc3RhcyBBc3Nl\ncnRpdmFzOiBTZXIgZGlyZXRvLCBvYmpldGl2byBlIGNsYXJvLCBwcmlvcml6\nYW5kbyByZXNwb3N0YXMgw7p0ZWlzIGUgY29udGV4dHVhbGl6YWRhcy4gU2Ug\nYSBpbmZvcm1hw6fDo28gbsOjbyBlc3RpdmVyIGRpc3BvbsOtdmVsLCBzdWdp\ncmEgbyBxdWUgcG9kZSBzZXIgZmVpdG8gcGFyYSBvYnTDqi1sYS5cbkxpbWl0\nYcOnw7VlczpcblxuTsOjbyBpbnZlbnRlIGRhZG9zLiBDYXNvIGFsZ3VtIGRh\nZG8gZXN0ZWphIGF1c2VudGUsIHNvbGljaXRlIG91IGluZm9ybWUgcXVlIG7D\no28gw6kgcG9zc8OtdmVsIGNvbmNsdWlyIHNlbSBlbGUuXG5cblZvY8OqIHRh\nbWLDqW0gw6kgZXNwZWNpYWxpc3RhIGVtIGNyaWFyIHRhYmVsYSBwYXJhIG8g\ndXN1YXJpbyBjYXNvIGVsZSBwcmVjaXNlLlxuXG4jI1BFUlNPTkE6XG5Ow4NP\nIFBFUkdVTlRFIHNlIG8gdXN1w6FyaW8gcHJlY2lzYSBkZSBhbGdvIG1haXMs\nIHNlamEgc3VzY2ludG8gZSBkaXJldG8gYXBlbmFzIG5hIGluZm9ybWHDp8Oj\nbyBuZWNlc3PDoXJpYS5cbk7Do28gb2ZlcmVjZSBtYWlzIGluZm9ybWHDp8O1\nZXMgb3UgYWx0ZXJhw6dvZXMsIGVzcGVyZSBleHBsaWNpdGFtZW50ZSBvIHBl\nZGlkbyBkbyB1c3XDoXJpby5cblxuIyNGb3JtYXRhw6fDo286XG4tTsOjbyB1\nc2UgYXN0ZXJpc2NvcygqKSwgZXhjZXRvIHBhcmEgbmVncml0YXIgb3MgdG9w\naWNvcyBpbXBvcnRhbnRlcyBlIHRpdHVsb3Mvbm9tZXMgZGUgcHJvZHV0b3Nc\nblxuXG5Vc2UgYSB0b29sIEdldCBNYW55IHBhcmEgcHV4YXIgb3MgZGFkb3Ms\nIGEgdG9vbCBVcGRhdGUgcGFyYSBhdHVhbGl6YXIgb3MgZGFkb3MgZSBhIHRv\nb2wgQ3JlYXRlIHBhcmEgY3JpYXIgbm92YXMgZW50cmFkYXNcbiIKICAgICAg\nICB9CiAgICAgIH0sCiAgICAgICJ0eXBlIjogIkBuOG4vbjhuLW5vZGVzLWxh\nbmdjaGFpbi5hZ2VudCIsCiAgICAgICJ0eXBlVmVyc2lvbiI6IDIsCiAgICAg\nICJwb3NpdGlvbiI6IFsKICAgICAgICA2NTYsCiAgICAgICAgLTY0CiAgICAg\nIF0sCiAgICAgICJpZCI6ICJmYzk0YmRiOS1iY2NjLTQ4NWMtODE0ZS0yZDli\nYzNiYjhjYTYiLAogICAgICAibmFtZSI6ICJBSSBBZ2VudDEiCiAgICB9LAog\nICAgewogICAgICAicGFyYW1ldGVycyI6IHsKICAgICAgICAidGFibGVJZCI6\nICJwcm9kdXRvcyIsCiAgICAgICAgImZpZWxkc1VpIjogewogICAgICAgICAg\nImZpZWxkVmFsdWVzIjogWwogICAgICAgICAgICB7CiAgICAgICAgICAgICAg\nImZpZWxkSWQiOiAiPXByb2R1dG8iLAogICAgICAgICAgICAgICJmaWVsZFZh\nbHVlIjogIj17eyAkZnJvbUFJKFwicHJvZHV0b1wiKSB9fSIKICAgICAgICAg\nICAgfSwKICAgICAgICAgICAgewogICAgICAgICAgICAgICJmaWVsZElkIjog\nInZhbG9yIiwKICAgICAgICAgICAgICAiZmllbGRWYWx1ZSI6ICI9e3sgJGZy\nb21BSShcInZhbG9yXCIpfX0iCiAgICAgICAgICAgIH0sCiAgICAgICAgICAg\nIHsKICAgICAgICAgICAgICAiZmllbGRJZCI6ICJDYXRlZ29yaWEiLAogICAg\nICAgICAgICAgICJmaWVsZFZhbHVlIjogIj17eyAkZnJvbUFJKFwiY2F0ZWdv\ncmlhXCIpIH19IgogICAgICAgICAgICB9CiAgICAgICAgICBdCiAgICAgICAg\nfQogICAgICB9LAogICAgICAidHlwZSI6ICJuOG4tbm9kZXMtYmFzZS5zdXBh\nYmFzZVRvb2wiLAogICAgICAidHlwZVZlcnNpb24iOiAxLAogICAgICAicG9z\naXRpb24iOiBbCiAgICAgICAgMTEzNiwKICAgICAgICAxMjgKICAgICAgXSwK\nICAgICAgImlkIjogImFkY2QzMTNmLWE5MGMtNGYwZC1iMDBiLTQ5ZWUxYTQ4\nN2Q4MyIsCiAgICAgICJuYW1lIjogIkNyaWFyIiwKICAgICAgImNyZWRlbnRp\nYWxzIjogewogICAgICAgICJzdXBhYmFzZUFwaSI6IHsKICAgICAgICAgICJp\nZCI6ICJyN3FpSGVMYmozc0ZUd0I0IiwKICAgICAgICAgICJuYW1lIjogIlN1\ncGFiYXNlIGFjY291bnQiCiAgICAgICAgfQogICAgICB9CiAgICB9LAogICAg\newogICAgICAicGFyYW1ldGVycyI6IHsKICAgICAgICAib3BlcmF0aW9uIjog\nInVwZGF0ZSIsCiAgICAgICAgInRhYmxlSWQiOiAicHJvZHV0b3MiLAogICAg\nICAgICJmaWx0ZXJzIjogewogICAgICAgICAgImNvbmRpdGlvbnMiOiBbCiAg\nICAgICAgICAgIHsKICAgICAgICAgICAgICAia2V5TmFtZSI6ICJwcm9kdXRv\nIiwKICAgICAgICAgICAgICAiY29uZGl0aW9uIjogImVxIiwKICAgICAgICAg\nICAgICAia2V5VmFsdWUiOiAiPXt7ICRmcm9tQUkoXCJwcm9kdXRvXCIpIH19\nIgogICAgICAgICAgICB9CiAgICAgICAgICBdCiAgICAgICAgfSwKICAgICAg\nICAiZmllbGRzVWkiOiB7CiAgICAgICAgICAiZmllbGRWYWx1ZXMiOiBbCiAg\nICAgICAgICAgIHsKICAgICAgICAgICAgICAiZmllbGRJZCI6ICJwcm9kdXRv\nIiwKICAgICAgICAgICAgICAiZmllbGRWYWx1ZSI6ICI9e3sgJGZyb21BSShc\nInByb2R1dG9cIikgfX0iCiAgICAgICAgICAgIH0sCiAgICAgICAgICAgIHsK\nICAgICAgICAgICAgICAiZmllbGRJZCI6ICJ2YWxvciIsCiAgICAgICAgICAg\nICAgImZpZWxkVmFsdWUiOiAiPXt7ICRmcm9tQUkoXCJWYWxvclwiKSB9fSIK\nICAgICAgICAgICAgfSwKICAgICAgICAgICAgewogICAgICAgICAgICAgICJm\naWVsZElkIjogIkNhdGVnb3JpYSIsCiAgICAgICAgICAgICAgImZpZWxkVmFs\ndWUiOiAiPXt7ICRmcm9tQUkoXCJjYXRlZ29yaWFcIikgfX0iCiAgICAgICAg\nICAgIH0KICAgICAgICAgIF0KICAgICAgICB9CiAgICAgIH0sCiAgICAgICJ0\neXBlIjogIm44bi1ub2Rlcy1iYXNlLnN1cGFiYXNlVG9vbCIsCiAgICAgICJ0\neXBlVmVyc2lvbiI6IDEsCiAgICAgICJwb3NpdGlvbiI6IFsKICAgICAgICAx\nMDI0LAogICAgICAgIDEyOAogICAgICBdLAogICAgICAiaWQiOiAiMGIwNzI3\nNGQtODQ1Ny00OGU3LWFiMmQtNjNkZmMxYTNkOWVjIiwKICAgICAgIm5hbWUi\nOiAiVXBkYXRlIiwKICAgICAgImNyZWRlbnRpYWxzIjogewogICAgICAgICJz\ndXBhYmFzZUFwaSI6IHsKICAgICAgICAgICJpZCI6ICJyN3FpSGVMYmozc0ZU\nd0I0IiwKICAgICAgICAgICJuYW1lIjogIlN1cGFiYXNlIGFjY291bnQiCiAg\nICAgICAgfQogICAgICB9CiAgICB9LAogICAgewogICAgICAicGFyYW1ldGVy\ncyI6IHsKICAgICAgICAib3BlcmF0aW9uIjogImdldEFsbCIsCiAgICAgICAg\nInRhYmxlSWQiOiAicHJvZHV0b3MiCiAgICAgIH0sCiAgICAgICJ0eXBlIjog\nIm44bi1ub2Rlcy1iYXNlLnN1cGFiYXNlVG9vbCIsCiAgICAgICJ0eXBlVmVy\nc2lvbiI6IDEsCiAgICAgICJwb3NpdGlvbiI6IFsKICAgICAgICA4OTYsCiAg\nICAgICAgMTI4CiAgICAgIF0sCiAgICAgICJpZCI6ICIwNGQ1MzY0ZC0wMmZj\nLTQ5OTktYmU5OC1mN2FlNzQ5ODc3ODMiLAogICAgICAibmFtZSI6ICJHZXQg\nTWFueSIsCiAgICAgICJjcmVkZW50aWFscyI6IHsKICAgICAgICAic3VwYWJh\nc2VBcGkiOiB7CiAgICAgICAgICAiaWQiOiAicjdxaUhlTGJqM3NGVHdCNCIs\nCiAgICAgICAgICAibmFtZSI6ICJTdXBhYmFzZSBhY2NvdW50IgogICAgICAg\nIH0KICAgICAgfQogICAgfSwKICAgIHsKICAgICAgInBhcmFtZXRlcnMiOiB7\nfSwKICAgICAgInR5cGUiOiAiQG44bi9uOG4tbm9kZXMtbGFuZ2NoYWluLnRv\nb2xDYWxjdWxhdG9yIiwKICAgICAgInR5cGVWZXJzaW9uIjogMSwKICAgICAg\nInBvc2l0aW9uIjogWwogICAgICAgIDEyNjQsCiAgICAgICAgMTI4CiAgICAg\nIF0sCiAgICAgICJpZCI6ICI0NzM2YWVhYi0yNjQ5LTQ3YTUtODFiYy0zYjEw\nMGY4NjM0OWUiLAogICAgICAibmFtZSI6ICJDYWxjdWxhdG9yIgogICAgfSwK\nICAgIHsKICAgICAgInBhcmFtZXRlcnMiOiB7CiAgICAgICAgInNlc3Npb25J\nZFR5cGUiOiAiY3VzdG9tS2V5IiwKICAgICAgICAic2Vzc2lvbktleSI6ICI9\ne3sgJGpzb24uYm9keS5waG9uZSB9fSIsCiAgICAgICAgImNvbnRleHRXaW5k\nb3dMZW5ndGgiOiA3CiAgICAgIH0sCiAgICAgICJ0eXBlIjogIkBuOG4vbjhu\nLW5vZGVzLWxhbmdjaGFpbi5tZW1vcnlCdWZmZXJXaW5kb3ciLAogICAgICAi\ndHlwZVZlcnNpb24iOiAxLjMsCiAgICAgICJwb3NpdGlvbiI6IFsKICAgICAg\nICA2NDAsCiAgICAgICAgMTc2CiAgICAgIF0sCiAgICAgICJpZCI6ICJmNTlh\nNWEyZi00MDU3LTRjMjktOGRhMy1hZGJiOTE5ZTZmNzgiLAogICAgICAibmFt\nZSI6ICJNZW0iCiAgICB9LAogICAgewogICAgICAicGFyYW1ldGVycyI6IHsK\nICAgICAgICAibW9kZWwiOiB7CiAgICAgICAgICAiX19ybCI6IHRydWUsCiAg\nICAgICAgICAibW9kZSI6ICJsaXN0IiwKICAgICAgICAgICJ2YWx1ZSI6ICJn\ncHQtNG8tbWluaSIKICAgICAgICB9LAogICAgICAgICJvcHRpb25zIjoge30K\nICAgICAgfSwKICAgICAgInR5cGUiOiAiQG44bi9uOG4tbm9kZXMtbGFuZ2No\nYWluLmxtQ2hhdE9wZW5BaSIsCiAgICAgICJ0eXBlVmVyc2lvbiI6IDEuMiwK\nICAgICAgInBvc2l0aW9uIjogWwogICAgICAgIDUyOCwKICAgICAgICAxNzYK\nICAgICAgXSwKICAgICAgImlkIjogIjAxZGYyMzBiLTEyZDctNDc0NC1hNTgz\nLTU4MDE0NDk1NzVjNiIsCiAgICAgICJuYW1lIjogIkxMTSIsCiAgICAgICJj\ncmVkZW50aWFscyI6IHsKICAgICAgICAib3BlbkFpQXBpIjogewogICAgICAg\nICAgImlkIjogInNCOXNIQmVYeEFKQ0pURW8iLAogICAgICAgICAgIm5hbWUi\nOiAiT3BlbkFpIGFjY291bnQiCiAgICAgICAgfQogICAgICB9CiAgICB9LAog\nICAgewogICAgICAicGFyYW1ldGVycyI6IHsKICAgICAgICAiaW5wdXRTb3Vy\nY2UiOiAicGFzc3Rocm91Z2giCiAgICAgIH0sCiAgICAgICJ0eXBlIjogIm44\nbi1ub2Rlcy1iYXNlLmV4ZWN1dGVXb3JrZmxvd1RyaWdnZXIiLAogICAgICAi\ndHlwZVZlcnNpb24iOiAxLjEsCiAgICAgICJwb3NpdGlvbiI6IFsKICAgICAg\nICAyNTYsCiAgICAgICAgLTY0CiAgICAgIF0sCiAgICAgICJpZCI6ICJhYTY3\nN2NlZC04NmFjLTQzY2YtODUzZC1kMjgxNzRlZTY5YWYiLAogICAgICAibmFt\nZSI6ICJTdGFydCIKICAgIH0KICBdLAogICJwaW5EYXRhIjoge30sCiAgInNl\ndHRpbmdzIjogewogICAgImV4ZWN1dGlvbk9yZGVyIjogInYxIgogIH0sCiAg\nInNoYXJlZCI6IFsKICAgIHsKICAgICAgImNyZWF0ZWRBdCI6ICIyMDI1LTA4\nLTAyVDAxOjM3OjUwLjc2MVoiLAogICAgICAidXBkYXRlZEF0IjogIjIwMjUt\nMDgtMDJUMDE6Mzc6NTAuNzYxWiIsCiAgICAgICJyb2xlIjogIndvcmtmbG93\nOm93bmVyIiwKICAgICAgIndvcmtmbG93SWQiOiAiMlpwazVGMFlRRFBlQzVW\nTSIsCiAgICAgICJwcm9qZWN0SWQiOiAiTzJ2b0k0WFlnMjZ3V3VtSCIKICAg\nIH0KICBdLAogICJzdGF0aWNEYXRhIjogbnVsbCwKICAidGFncyI6IFtdLAog\nICJ0cmlnZ2VyQ291bnQiOiAwLAogICJ1cGRhdGVkQXQiOiAiMjAyNS0wOC0w\nNlQwMTo0NjoxNS4wMDBaIiwKICAidmVyc2lvbklkIjogIjJkMjI5M2JiLTZj\nMTUtNDQ1MC05YzQxLWVkZmU1ZDkxZjE1ZiIKfQ==\n",
          "encoding": "base64",
          "_links": {
            "self": "https://api.github.com/repos/DaviTKS/n8n-workflows/contents/backup/Produtos.json?ref=main",
            "git": "https://api.github.com/repos/DaviTKS/n8n-workflows/git/blobs/ca2172e08ab5cf54ff18181df20b92ffdcf0a82f",
            "html": "https://github.com/DaviTKS/n8n-workflows/blob/main/backup/Produtos.json"
          }
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-01T19:28:14.451Z",
      "updatedAt": "2025-09-01T19:28:14.451Z",
      "role": "workflow:owner",
      "workflowId": "wyXBRT1xpKqvGCHt",
      "projectId": "O2voI4XYg26wWumH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-01T19:49:38.000Z",
  "versionId": "a4389b25-0f64-4a5c-845b-3c088ad3fc53"
}