backup/My workflow.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-02T14:07:04.220Z",
  "id": "M0DM7jV1qLsunShZ",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "c2755a74-2d9a-4a8c-91ec-2caf1b2a8549",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1t5KP0Vqp9s9t9CMLTBFBS3LuKNp1IGVflFA-FvL05qA",
          "mode": "list",
          "cachedResultName": "Planilha Controle Leads - M Molde",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t5KP0Vqp9s9t9CMLTBFBS3LuKNp1IGVflFA-FvL05qA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 145359463,
          "mode": "list",
          "cachedResultName": "val",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1t5KP0Vqp9s9t9CMLTBFBS3LuKNp1IGVflFA-FvL05qA/edit#gid=145359463"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "ANUNCIO APARECEU",
              "lookupValue": "641"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        0
      ],
      "id": "01294cc7-bba7-4ab7-99ad-add134c9a132",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "outputFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        160,
        0
      ],
      "id": "43a80796-f749-44e8-887c-7094eaa7ce8c",
      "name": "Data",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Obtém a data original em string e converte para objeto Date\nconst inputDateStr = $('Data').first().json.data;\nconst inputDate = new Date(inputDateStr);\n\n// Subtrai 1 hora manualmente (ajuste de -04:00 para -03:00)\ninputDate.setHours(inputDate.getHours() - 3);\n\n// Formata a data no padrão brasileiro\nconst dia = String(inputDate.getDate()).padStart(2, '0');\nconst mes = String(inputDate.getMonth() + 1).padStart(2, '0');\nconst ano = inputDate.getFullYear();\nconst hora = String(inputDate.getHours()).padStart(2, '0');\nconst minuto = String(inputDate.getMinutes()).padStart(2, '0');\n\nconst dataFormatada = `${ano}-${mes}-${dia}`;\n\n// Retorna resultado\nreturn [\n  {\n    json: {\n      dataFormatada\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        0
      ],
      "id": "517f8cf8-5676-498d-a8a2-9c070c3d5cbe",
      "name": "Code1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf80730c-c59d-4f39-902b-2f6998e733c9",
                    "leftValue": "={{ $json['DIAS PARA ESGOTAR'] }}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MenosQ3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['DIAS PARA ESGOTAR'] }}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "id": "396ccf0d-ff47-402b-bdaa-45f8cae64eb6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MenosQ7"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1168,
        0
      ],
      "id": "2364365f-1962-4e53-aaf0-7891bd21c167",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c76cfe31-6ccc-4882-9c0f-c383ef582f82",
              "name": "DIAS PARA ESGOTAR",
              "value": "={{ $json['DIAS PARA ESGOTAR'] }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        0
      ],
      "id": "2afa2a66-8314-4119-a71f-982e34fd5615",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "DIAS PARA ESGOTAR",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        752,
        0
      ],
      "id": "2fc8f4b4-55fc-44c1-abd4-0db252fea453",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-02T14:07:04.225Z",
      "updatedAt": "2025-09-02T14:07:04.225Z",
      "role": "workflow:owner",
      "workflowId": "M0DM7jV1qLsunShZ",
      "projectId": "O2voI4XYg26wWumH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-02T14:24:24.000Z",
  "versionId": "2e54b1bf-adfb-4f09-b684-f90d98d37cbb"
}