backup/My workflow.json
{
  "active": false,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-08T14:28:43.112Z",
  "id": "w8yd5hqGXUAi2pAW",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -608,
        16
      ],
      "id": "b1348e01-d9a0-4d0a-bb6b-9eb95dd5d2e2",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tf4rSHmhZilWwAWzpa8ScvhkRf62at96ynG3mAn-qgA",
          "mode": "list",
          "cachedResultName": "Controle Gestão",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tf4rSHmhZilWwAWzpa8ScvhkRf62at96ynG3mAn-qgA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1394882912,
          "mode": "list",
          "cachedResultName": "Controle",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tf4rSHmhZilWwAWzpa8ScvhkRf62at96ynG3mAn-qgA/edit#gid=1394882912"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "AUTO",
              "lookupValue": "*"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -112,
        16
      ],
      "id": "3721b41d-d300-4cb2-ba27-5be48c2526e6",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "C5tPJjLRUqHdUk9C",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "outputFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -432,
        16
      ],
      "id": "e051588e-10c6-4519-8b40-4277f0c49744",
      "name": "Data",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "// Obtém a data original em string e converte para objeto Date\nconst inputDateStr = $('Data').first().json.data;\nconst inputDate = new Date(inputDateStr);\n\n// Subtrai 1 hora manualmente (ajuste de -04:00 para -03:00)\ninputDate.setHours(inputDate.getHours() - 3);\n\n// Formata a data no padrão brasileiro\nconst dia = String(inputDate.getDate()).padStart(2, '0');\nconst mes = String(inputDate.getMonth() + 1).padStart(2, '0');\nconst ano = inputDate.getFullYear();\nconst hora = String(inputDate.getHours()).padStart(2, '0');\nconst minuto = String(inputDate.getMinutes()).padStart(2, '0');\n\nconst dataFormatada = `${ano}-${mes}-${dia}`;\n\n// Retorna resultado\nreturn [\n  {\n    json: {\n      dataFormatada\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        16
      ],
      "id": "eef12b0b-fecc-4ce8-a01e-68fcf8bc35fe",
      "name": "Code1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cf80730c-c59d-4f39-902b-2f6998e733c9",
                    "leftValue": "={{ $json['DIAS PARA ESGOTAR'].round()}}",
                    "rightValue": 3,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MenosQ3"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['DIAS PARA ESGOTAR'].round()}}",
                    "rightValue": 7,
                    "operator": {
                      "type": "number",
                      "operation": "lte"
                    },
                    "id": "396ccf0d-ff47-402b-bdaa-45f8cae64eb6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MenosQ7"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        464,
        16
      ],
      "id": "474a6013-eb84-4295-acc7-836868df6dc4",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c76cfe31-6ccc-4882-9c0f-c383ef582f82",
              "name": "DIAS PARA ESGOTAR",
              "value": "={{ $json['DIAS PARA ESGOTAR'] }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "ignoreConversionErrors": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        16
      ],
      "id": "cc2470af-ad32-4c72-9574-39efeb059691",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "DIAS PARA ESGOTAR",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        48,
        16
      ],
      "id": "43471ef8-26b1-465d-9195-8e64a662b873",
      "name": "Split Out"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-09-08T14:28:43.119Z",
      "updatedAt": "2025-09-08T14:28:43.119Z",
      "role": "workflow:owner",
      "workflowId": "w8yd5hqGXUAi2pAW",
      "projectId": "O2voI4XYg26wWumH"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-10-15T14:20:41.000Z",
  "versionId": "9a4527ec-e802-4a17-b934-bd2179ca68f1"
}