folder/Bot Server.json
{
  "active": true,
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-29T23:48:50.101Z",
  "id": "i3aybwr5rZ9tFnRv",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Bot Server",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.0.68:2209/execute",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "={{ $json.command }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1180,
        -20
      ],
      "id": "69eceb3f-7fc4-4b9c-9aa2-1f37cf81d5ce",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "smhJun8Gl9k9G3Rq",
          "name": "Bot Server"
        },
        "httpHeaderAuth": {
          "id": "DCiUE875boQs8dOt",
          "name": "Server Bot"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -460,
        -20
      ],
      "id": "cce779f3-fb0d-452e-9ac2-9dfc7d28b57a",
      "name": "Telegram Trigger",
      "webhookId": "0cd6a441-c59f-4dc6-b61d-c74f8f643afb",
      "credentials": {
        "telegramApi": {
          "id": "s2MvX6fOshFRBmP5",
          "name": "Server Bot"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/reboot_server",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e91e6621-05ba-43a0-95b9-29e5abd05f59"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "818f43a1-422e-4c85-8426-774a86a5a118",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/cls",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "69d98646-5cc9-4b12-be76-b39dd8cf722e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/beep",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "320a6227-6fde-4c1a-b5ee-2f956d5e7f06",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "/ip",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "17f45bc2-2459-4b62-8be3-2028b72c5c2a",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -240,
        -20
      ],
      "id": "cc8e3b64-1980-4e56-94d7-13d5a9c1a9c8",
      "name": "Switch"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        740,
        -20
      ],
      "id": "65aa5091-878e-4f46-8bfd-86c6141a0c2c",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f694e8ab-0a6c-4b2c-94b1-bd6278be8dd9",
              "name": "command",
              "value": "={{ $json.command }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        940,
        -20
      ],
      "id": "c125415c-b7bb-4a2a-b522-858b4aad014d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "Restart-Computer -Force",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -20,
        -140
      ],
      "id": "0d1a9b33-66b8-4dd5-abd3-90e8170194d9",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "cls",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        100,
        -20
      ],
      "id": "ab916e37-564a-4116-b170-ce26cf036988",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "=[Console]::Beep(440, 300)",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        140
      ],
      "id": "312c65fd-5d76-41ee-9c44-3db37b9c07c1",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        440
      ],
      "id": "0560c794-6221-4550-9526-78e71353d3b7",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Comando do usuário: ({{ $('Edit Fields').item.json.command }})\n\nResposta do Terminal:{{ $json.message }}({{ $json.stdout }}{{ $json.error.message }})",
        "options": {
          "systemMessage": "=Voce é um agente de IA que tem como objetivo analisar o return do request via HTTP e informar de forma simples ao usúario o resultado do comando dele.\n\nVocê é suscinto, breve e direto e não oferece ajuda posterior em hipótese alguma."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1400,
        -20
      ],
      "id": "425ddaf3-b9ff-43aa-b250-1b3473470d6d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1420,
        200
      ],
      "id": "1d601f3b-acd8-477f-90f8-88d391e86221",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "bcjn0rZ3TjEvRciY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1820,
        -20
      ],
      "id": "c28cdaeb-e195-4df6-8599-643af9ca5b2b",
      "name": "Send a text message",
      "webhookId": "2de4971a-eb6d-4db4-96c5-f8555ce82e16",
      "credentials": {
        "telegramApi": {
          "id": "s2MvX6fOshFRBmP5",
          "name": "Server Bot"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e95de587-dcab-4c91-ab0f-614ca897cba8",
              "name": "command",
              "value": "=(iwr ipinfo.io/ip -UseBasicParsing).content",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        180,
        280
      ],
      "id": "2b7f9014-9c92-454e-802b-3391539d7c5c",
      "name": "Edit Fields5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-31T16:40:57.000Z",
  "versionId": "b77dda0c-edde-4a21-99d1-920a348b3716"
}