folder/Produtos.json
{
  "active": false,
  "connections": {
    "AI Agent1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Criar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Many": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mem": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-08T16:15:02.358Z",
  "id": "US8mU4mGxm3Ycmqj",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Produtos",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.z-api.io/instances/3E29DB01364090EFDC8006E9A5181015/token/771E4BE1F789AB112E4831D6/send-text",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $('Start').item.json.body.phone }}"
            },
            {
              "name": "message",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        0
      ],
      "id": "0a7b59b0-d93e-4903-ac59-8eb8c3a17c80",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "4KOge2CHa6sSv6MD",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.text.message }}",
        "options": {
          "systemMessage": "=\n##PERSONA:\nVocê é um assistente digital EXTREMAMENTE PROFISSIONAL, que não oferece ajuda ou alteraçoes sem pedido explicito do usuario, você é especializado na gestão e manutenção do banco de dados de produtos e serviços da Leão de Judá Assistência Técnica, localizada no bairro Jardim das Indústrias. A loja atua no ramo de informática e manutenção técnica, oferecendo consertos e vendas de peças para notebooks, computadores, monitores e micro-ondas.\n\nSeu papel inclui:\n\nEdição e Atualização do Banco de Dados: Corrigir, padronizar e atualizar valores, descrições e categorias de produtos e serviços.\nCálculos e Análises: Realizar cálculos de lucro, margem, descontos, projeções de venda, entre outros, com base nos dados fornecidos.\nOrientação Técnica e Comercial: Auxiliar os donos da loja em decisões estratégicas e operacionais, respondendo dúvidas técnicas sobre produtos, precificação e boas práticas de organização do estoque e atendimento.\nPesquisa de Mercado: Quando necessário, sugerir faixas de preço ou padrões de mercado para comparação, com base no segmento e tipo de produto.\nRespostas Assertivas: Ser direto, objetivo e claro, priorizando respostas úteis e contextualizadas. Se a informação não estiver disponível, sugira o que pode ser feito para obtê-la.\nLimitações:\n\nNão invente dados. Caso algum dado esteja ausente, solicite ou informe que não é possível concluir sem ele.\n\nVocê também é especialista em criar tabela para o usuario caso ele precise.\n\n##PERSONA:\nNÃO PERGUNTE se o usuário precisa de algo mais, seja suscinto e direto apenas na informação necessária.\nNão oferece mais informações ou alteraçoes, espere explicitamente o pedido do usuário.\n\n##Formatação:\n-Não use asteriscos(*), exceto para negritar os topicos importantes e titulos/nomes de produtos\n\n\nUse a tool Get Many para puxar os dados, a tool Update para atualizar os dados e a tool Create para criar novas entradas\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "a095e907-a009-4edd-b5c0-e4d7a7776eb8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "tableId": "produtos",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "=produto",
              "fieldValue": "={{ $fromAI(\"produto\") }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $fromAI(\"valor\")}}"
            },
            {
              "fieldId": "Categoria",
              "fieldValue": "={{ $fromAI(\"categoria\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        880,
        180
      ],
      "id": "45806db4-5632-4c1a-8bc5-b086d0d1b2d3",
      "name": "Criar",
      "credentials": {
        "supabaseApi": {
          "id": "rOYD11WtKRJQ9Bli",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "produtos",
        "filters": {
          "conditions": [
            {
              "keyName": "produto",
              "condition": "eq",
              "keyValue": "={{ $fromAI(\"produto\") }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "produto",
              "fieldValue": "={{ $fromAI(\"produto\") }}"
            },
            {
              "fieldId": "valor",
              "fieldValue": "={{ $fromAI(\"Valor\") }}"
            },
            {
              "fieldId": "Categoria",
              "fieldValue": "={{ $fromAI(\"categoria\") }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        760,
        180
      ],
      "id": "2da1c985-cdb6-4329-afb2-bf27bcdb86d7",
      "name": "Update",
      "credentials": {
        "supabaseApi": {
          "id": "rOYD11WtKRJQ9Bli",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "produtos"
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        640,
        180
      ],
      "id": "942c9050-d124-4bfe-8a33-6b9bacff237c",
      "name": "Get Many",
      "credentials": {
        "supabaseApi": {
          "id": "rOYD11WtKRJQ9Bli",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1000,
        180
      ],
      "id": "700dc6b7-a234-46ca-93ad-f60fae6db4d7",
      "name": "Calculator"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.phone }}",
        "contextWindowLength": 7
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        380,
        240
      ],
      "id": "7e39e720-ac09-4d3e-ae85-c01486d7b53b",
      "name": "Mem"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        240
      ],
      "id": "c06c646a-c726-4500-9860-c79c773d2c7d",
      "name": "LLM",
      "credentials": {
        "openAiApi": {
          "id": "bcjn0rZ3TjEvRciY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "683a4ece-3870-4281-b761-97ce81c4d371",
      "name": "Start"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-08T16:15:56.000Z",
  "versionId": "d081fc51-30bb-4cb7-ab49-56538b3c3922"
}